{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="static/champion/css/style.css">
	<title>LCKinfo.lol - 챔피언 통계</title>
{% endblock %}

{% block content %}
	{% load static %}
	<h2>챔피언 통계</h2>
	<div id="champion_menu">
		<div id="league_selection">
			<a href="/champion?year=2024&league=LCK Spring&patch=all" class="league LCK_Spring activated"><img src="{% static 'img/league_logo/LCK2.svg' %}">LCK spring</a>
			<a href="/champion?year=2024&league=MSI&patch=14.8" class="league MSI activated"><img src="{% static 'img/league_logo/MSI.png' %}">MSI</a>
			<a href="/champion?year=2024&league=LCK Summer&patch=14.11" class="league LCK_Summer activated"><img src="{% static 'img/league_logo/LCK2.svg' %}">LCK summer</a>
			<a class="league Worlds"><img src="{% static 'img/league_logo/Worlds.png' %}">Worlds</a>
		</div>
		
		<div class="patch_selection LCK_Spring">
			<a class="patch all" href="/champion?year=2024&league=LCK Spring&patch=all">모든 버전</a>
			{% for patch in patch_list_spring %}
			<a class="patch" href="/champion?year=2024&league=LCK Spring&patch={{patch}}">{{patch}}</a>
			{% endfor %}
		</div>
		<div class="patch_selection MSI">
			{% for patch in patch_list_MSI %}
			<a class="patch" href="/champion?year=2024&league=MSI&patch={{patch}}">{{patch}}</a>
			{% endfor %}
		</div>
		<div class="patch_selection LCK_Summer">
			<a class="patch all" href="/champion?year=2024&league=LCK Summer&patch=all">모든 버전</a>
			{% for patch in patch_list_summer %}
			<a class="patch" href="/champion?year=2024&league=LCK Summer&patch={{patch}}">{{patch}}</a>
			{% endfor %}
		</div>
		<div class="patch_selection Worlds">
		</div>
	</div>
	
	<div id="champions">
		<div class="champion_menu">
			<div class="name_block_menu">챔피언 이름</div>
			<div class="pick_menu">픽</div>
			<div class="ban_menu">밴</div>
			<div class="banpick_rate_menu descending">밴픽률</div>
			<div class="win_menu">승리</div>
			<div class="lose_menu">패배</div>
			<div class="win_rate_menu">승률</div>
			<div class="patch_menu">패치 버전</div>
		</div>
		<div class="champion_table">
			
		</div>
	</div>
	
	<script type="text/javascript" src="static/champion/js/champion.js"></script>
{% endblock %}
