{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/style.css">
	<title>LCKinfo.lol - 역대 대회</title>
	{% block css_head %}
		
	{% endblock %}
{% endblock %}

{% block content %}
	{% load static %}
	<div id="history_menu">
		<div class="menu_league menu_league1">
			<div class="league LCK_spring"><img src="{% static 'img/league_logo/LCK2.svg' %}">LCK spring</div>
			<div class="league MSI"><img src="{% static 'img/league_logo/MSI.png' %}">MSI</div>
			<div class="league LCK_summer"><img src="{% static 'img/league_logo/LCK2.svg' %}">LCK summer</div>
			<div class="league Worlds"><img src="{% static 'img/league_logo/Worlds.png' %}">Worlds</div>
		</div>
		<div class="menu_year menu_year1">
			<div class="years LCK_spring">
				<div class="year"><a href="/history?year=23&league=spring">2023</a></div>
				<div class="year"><a href="/history?year=24&league=spring">2024</a></div>
				<div class="year"><a>-</a></div>
			
				<div class="year"><a href="/history?year=20&league=spring">2020</a></div>
				<div class="year"><a href="/history?year=21&league=spring">2021</a></div>
				<div class="year"><a href="/history?year=22&league=spring">2022</a></div>
				
				<div class="year"><a href="/history?year=17&league=spring">2017</a></div>
				<div class="year"><a href="/history?year=18&league=spring">2018</a></div>
				<div class="year"><a href="/history?year=19&league=spring">2019</a></div>
				
				<div class="year"><a href="/history?year=14&league=spring">2014</a></div>
				<div class="year"><a href="/history?year=15&league=spring">2015</a></div>
				<div class="year"><a href="/history?year=16&league=spring">2016</a></div>
				
				<div class="year"><a>-</a></div>
				<div class="year"><a href="/history?year=12&league=spring">2012</a></div>
				<div class="year"><a href="/history?year=13&league=spring">2013</a></div>
			</div>
			<div class="years MSI">
				<div class="year disable"><a href="/history?year=23&league=MSI">2023</a></div>
				<div class="year"><a>-</a></div>
				<div class="year"><a>-</a></div>
				
				<div class="year disable"><a href="/history?year=20&league=MSI">2020</a></div>
				<div class="year disable"><a href="/history?year=21&league=MSI">2021</a></div>
				<div class="year disable"><a href="/history?year=22&league=MSI">2022</a></div>
				
				<div class="year disable"><a href="/history?year=17&league=MSI">2017</a></div>
				<div class="year disable"><a href="/history?year=18&league=MSI">2018</a></div>
				<div class="year disable"><a href="/history?year=19&league=MSI">2019</a></div>
				
				<div class="year"><a>-</a></div>
				<div class="year disable"><a href="/history?year=15&league=MSI">2015</a></div>
				<div class="year disable"><a href="/history?year=16&league=MSI">2016</a></div>
				
				<div class="year"><a>-</a></div>
				<div class="year"><a>-</a></div>
				<div class="year"><a>-</a></div>
			</div>
			<div class="years LCK_summer">
				<div class="year"><a href="/history?year=23&league=summer">2023</a></div>
				<div class="year"><a>-</a></div>
				<div class="year"><a>-</a></div>
				
				<div class="year"><a href="/history?year=20&league=summer">2020</a></div>
				<div class="year"><a href="/history?year=21&league=summer">2021</a></div>
				<div class="year"><a href="/history?year=22&league=summer">2022</a></div>
				
				<div class="year"><a href="/history?year=17&league=summer">2017</a></div>
				<div class="year"><a href="/history?year=18&league=summer">2018</a></div>
				<div class="year"><a href="/history?year=19&league=summer">2019</a></div>
				
				<div class="year"><a href="/history?year=14&league=summer">2014</a></div>
				<div class="year"><a href="/history?year=15&league=summer">2015</a></div>
				<div class="year"><a href="/history?year=16&league=summer">2016</a></div>
				
				<div class="year"><a>-</a></div>
				<div class="year"><a href="/history?year=12&league=summer">2012</a></div>
				<div class="year"><a href="/history?year=13&league=summer">2013</a></div>
			</div>
			<div class="years Worlds">
				<div class="year"><a href="/history?year=23&league=Worlds">2023</a></div>
				<div class="year"><a>-</a></div>
				<div class="year"><a>-</a></div>
				
				<div class="year"><a href="/history?year=20&league=Worlds">2020</a></div>
				<div class="year"><a href="/history?year=21&league=Worlds">2021</a></div>
				<div class="year"><a href="/history?year=22&league=Worlds">2022</a></div>
				
				<div class="year"><a href="/history?year=17&league=Worlds">2017</a></div>
				<div class="year"><a href="/history?year=18&league=Worlds">2018</a></div>
				<div class="year"><a href="/history?year=19&league=Worlds">2019</a></div>
				
				<div class="year"><a href="/history?year=14&league=Worlds">2014</a></div>
				<div class="year"><a href="/history?year=15&league=Worlds">2015</a></div>
				<div class="year"><a href="/history?year=16&league=Worlds">2016</a></div>
				
				<div class="year"><a href="/history?year=11&league=Worlds">2011</a></div>
				<div class="year"><a href="/history?year=12&league=Worlds">2012</a></div>
				<div class="year"><a href="/history?year=13&league=Worlds">2013</a></div>
			</div>
		</div>
		<div class="menu_league menu_league2">
			<div class="league"><img src="{% static 'img/league_logo/LCK3.png' %}">LCK winter</div>
			<div class="league"><img src="{% static 'img/league_logo/Asiangame.png' %}">아시안게임</div>
		</div>
		<div class="menu_year menu_year2">
			<div class="years">
				<div class="year"><a href="/history?year=12-13&league=winter">2012-13</a></div>
				<div class="year"><a href="/history?year=13-14&league=winter">2013-14</a></div>
			</div>
			<div class="years">
				<div class="year disable"><a href="">2018</a></div>
				<div class="year disable"><a href="">2023</a></div>
			</div>
		</div>
	</div>
	
	{% block history_content %}
		
	{% endblock %}
	
	<script type="text/javascript" src="static/history/js/history.js"></script>
{% endblock %}
