{% extends "base.html" %}

{% block head %}
	<title>LCKinfo.lol - LCK의 모든 것</title>
{% endblock head %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<section id="version">
		<span id="league_version">대회 버전 : {{league_version}} /</span>
		<span id="live_version">라이브 버전 : {{live_version}}</span>
	</section>

	<section id="champion">
		<h2><a href="/champion?year=2024&league=LCK Summer&patch=all">챔피언 통계</a></h2>
		<table class="champion_table">
			<tr class="champion_table_th_tr">
				<th colspan=2>챔피언</th><th>픽</th><th>밴</th><th>밴픽률</th><th>승리</th><th>패배</th><th>승률</th>
			</tr>
			{% if champions|length == 0 %}
			<tr>
				<td colspan=8 style="height: 90px;">챔피언 정보가 없습니다</td>
			</tr>
			{% else %}
				{% for champion in champions %}
				<tr>
					<td>
						<img class="champion_img" src="{% static 'img/champions'|add:'/'|add:champion.name|add:'.png' %}">
					</td>
					<td>{{champion.name}}</td><td>{{champion.pick}}</td><td>{{champion.ban}}</td><td>{{champion.banpick_rate}}%</td><td>{{champion.win}}</td><td>{{champion.lose}}</td><td>{{champion.win_rate}}%</td>
				</tr>
				{% endfor %}
			{% endif %}
			<tr>
				<td class="view_more" colspan="8"><a href="/champion?year=2024&league=LCK Summer&patch=all">챔피언 통계 더보기 -></a></td>
			</tr>
		</table>
	</section>
	
	<section id="schedule">
		<h2><a href="/schedule">일정</a></h2>
		<div id="schedule_block">
			
		</div>
		<div class="schedule_controler schedule_controler_left"></div>
		<div class="schedule_controler schedule_controler_right"></div>
	</section>
	
	<section id="ranking">
		<h2><a href="/ranking">순위</a></h2>
		<div id="ranking_blocks">
			<div class="ranking_block ranking_block1">
				<div class="title">순위</div>
				{% for ranking in ranking_list %}
				<div class="ranking">{{ranking.ranking}}</div>
				{% endfor %}
			</div>
			<div class="ranking_block ranking_block2">
				<div colspan="2" class="title">팀</div>
				{% for ranking in ranking_list %}
				<div class="team">
					<div class="team_img"><img src="{% static 'img/teams/'|add:ranking.tournament|add:'/'|add:ranking.tricode|add:'.webp' %}"></div>
					<div class="team_name">{{ranking.team}}</div>
				</div>
				{% endfor %}
			</div>
			<div class="ranking_block ranking_block3">
				<div class="title">승리</div>
				{% for ranking in ranking_list %}
				<div class="game_win">{{ranking.match_win}}</div>
				{% endfor %}
			</div>
			<div class="ranking_block ranking_block3">
				<div class="title">패배</div>
				{% for ranking in ranking_list %}
				<div class="game_lose">{{ranking.match_lose}}</div>
				{% endfor %}
			</div>
			<div class="ranking_block ranking_block3">
				<div class="title">세트 득실</div>
				{% for ranking in ranking_list %}
				<div class="set_win_lose">{{ranking.set_win}}승 {{ranking.set_lose}}패</div>
				{% endfor %}
			</div>
			<div class="ranking_block ranking_block3">
				<div class="title">득실차</div>
				{% for ranking in ranking_list %}
				<div class="set_diff">{{ranking.set_diff}}</div>
				{% endfor %}
			</div>
			<div class="ranking_block ranking_block3">
				<div class="title">기타</div>
				{% for ranking in ranking_list %}
				<div class="etc">{{ranking.etc}}</div>
				{% endfor %}
			</div>
		</div>
		<div class="reference">
			<div class="reference_element">
				<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : PO 2라운드 진출 &nbsp;</span>
			</div>
			<div class="reference_element">
				<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : PO 1라운드 진출 &nbsp;</span>
			</div>
			<div class="reference_element">
				<div class="reference_color" style="background-color: #FFFF99"></div><span class="reference_letter"> : PO 진출 실패 &nbsp;</span>
			</div>
		</div>
	</section>
	
	<script type="text/javascript" src="static/js/index.js"></script>
{% endblock content %}
