{% extends "base.html" %}

{% block content %}
	{% load static %}
	<section id="version">
		<span id="league_version">대회 버전 : 12.1,</span>
		<span id="live_version">라이브 버전 : 12.1</span>
	</section>
	
	<secrion id="champion">
		<h2>챔피언 통계</h2>
	</secrion>
	
	<section id="schedule">
		<h2>일정</h2>
		<div class="block">
			<div class="title">
				<div class="date"></div>
				<div class="type"></div>
			</div>
			{% for schedule in schedules %}
			<div class="teams date_{{schedule.year}}{{schedule.month}}{{schedule.day}}">
				<div class="team team1">
					
					{% with year=schedule.year|stringformat:'s' %}
						{% if "spring" in schedule.etc %}
							<img class="team_img team1_img" src="{% static 'img/'|add:year|add:"spring/"|add:schedule.team1_name|add:'.jpg' %}"><br>
						{% elif "MSI" in schedule.etc %}
							<img class="team_img team1_img" src="{% static 'img/'|add:year|add:"MSI/"|add:schedule.team1_name|add:'.jpg' %}"><br>
						{% elif "summer" in schedule.etc %}
							<img class="team_img team1_img" src="{% static 'img/'|add:year|add:"summer/"|add:schedule.team1_name|add:'.jpg' %}"><br>
						{% elif "Worlds" in schedule.etc and "선발전" not in schedule.etc %}
							<img class="team_img team1_img" src="{% static 'img/'|add:year|add:"Worlds/"|add:schedule.team1_name|add:'.jpg' %}"><br>
						{% else %}
							<img class="team_img team1_img" src="{% static 'img/'|add:year|add:"Worlds_qualifying/"|add:schedule.team1_name|add:'.jpg' %}"><br>
						{% endif %}
					{% endwith %}
					
					<span class="team_name team1_name">{{schedule.team1_name}}</span>
				</div>
				<div class="score_block">
					<div class="score">{{schedule.score}}</div>
					<div class="time">{{schedule.time}}</div>
				</div>
				<div class="team team2">
					{% with year=schedule.year|stringformat:'s' %}
						{% if "spring" in schedule.etc %}
							<img class="team_img team2_img" src="{% static 'img/'|add:year|add:"spring/"|add:schedule.team2_name|add:'.jpg' %}"><br>
						{% elif "MSI" in schedule.etc %}
							<img class="team_img team2_img" src="{% static 'img/'|add:year|add:"MSI/"|add:schedule.team2_name|add:'.jpg' %}"><br>
						{% elif "summer" in schedule.etc %}
							<img class="team_img team2_img" src="{% static 'img/'|add:year|add:"summer/"|add:schedule.team2_name|add:'.jpg' %}"><br>
						{% elif "Worlds" in schedule.etc and "선발전" not in schedule.etc %}
							<img class="team_img team2_img" src="{% static 'img/'|add:year|add:"Worlds/"|add:schedule.team2_name|add:'.jpg' %}"><br>
						{% else %}
							<img class="team_img team2_img" src="{% static 'img/'|add:year|add:"Worlds_qualifying/"|add:schedule.team2_name|add:'.jpg' %}"><br>
						{% endif %}
					{% endwith %}
					
					<span class="team_name team2_name">{{schedule.team2_name}}</span>
				</div>
			</div>
			{% endfor %}
			<div class="teams no_team">경기가 없습니다</div>
		</div>
		<div class="controler controler_left"></div>
		<div class="controler controler_right"></div>
	</section>
	
	<section id="ranking">
		<h2>순위</h2>
		<div id="ranking_container">
			<!-- row -->
			<div class="ranking_group bottom">
				A조
			</div>
			<div class="ranking_group">
				B조
			</div>
			<!-- row -->
			<div class="ranking_match">
				<div></div>
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div class="bottom" style="grid-row: span 2;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			
			<!-- row -->
			<div class="bottom" style="grid-row: span 2;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 7;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 7;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
	
			<!-- row -->
			<div class="bottom" style="grid-row: span 2;">
				
			</div>
			<div class="bottom" style="grid-row: span 7; border-color: #FF3636;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div class="bottom" style="grid-row: span 7; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>	
			
			<!-- row -->
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div class="bottom" style="grid-row: span 2;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
		
			<!-- row -->
			<div style="grid-row: span 1;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 1;">
				
			</div>
			<div class="right" style="grid-row: span 3; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 2;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 1;">
				
			</div>
			<div class="right" style="grid-row: span 3; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 2;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			
			<!-- row -->
			<div style="grid-row: span 1;">
				
			</div>
			<div class="top" style="grid-row: span 1;">
				
			</div>
			<div class="bottom" style="grid-row: span 3; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="top" style="grid-row: span 2;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="top" style="grid-row: span 1;">
				
			</div>
			<div class="bottom" style="grid-row: span 3; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="top" style="grid-row: span 2;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			
			<!-- row -->
			<div class="ranking_match" style="grid-row: span 2;">
				winner
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div class="bottom" style="grid-row: span 5;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match" style="grid-row: span 2;">
				winner
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 3;">
				
			</div>
		
			<!-- row -->
			<div class="bottom" style="grid-row: span 6;">
				
			</div>
			<div class="right" style="grid-row: span 6;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 7;">
				
			</div>
			<div style="grid-row: span 5;">
				
			</div>
		
			<!-- row -->
			<div class="bottom" style="grid-row: span 12;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="top" style="grid-row: span 12;">
				
			</div>
			
			<!-- row -->
			<div style="grid-row: span 11;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 11;">
				
			</div>
		</div>
	</section>
	
	<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock content %}