{% extends "base.html" %}

{% block content %}
	{% load static %}
	<script type="text/javascript" src="static/js/set_score.js"></script>
	<script type="text/javascript" src="static/js/set_type.js"></script>
	<section id="version">
		{% for version in versions %}
			대회 버전 : {{version.LCK_version}}, 
			라이브 버전 : {{version.Live_version}}
		{% endfor %}
	</section>
	
	<secrion id="champion">
		<h2>챔피언 통계</h2>
	</secrion>
	
	
	<section id="schedule">
		<h2>일정</h2>
		<div id="schedules">
			<!-- schedules에 있을 경우 -->
			{% for schedule in schedules %}
			<div class="schedule_block {{schedule.date.month}}/{{schedule.date.day}}">
				<div class="schedule_title">
					<script>
						let type = "{{schedule.type}}";
					</script>
					<div class="schedule_type">{{schedule.type}}</div>
					<div class="schedule_date">{{schedule.date.month}}월 {{schedule.date.day}}일 <span class="schedule_weekday">({{schedule.date.weekday}})</span></div>
				</div>
				<div class="schedule_team">
					<div class="schedule_team1">
						<img src="{% get_static_prefix %}img/{{schedule.team1}}.png"><br>
						{{schedule.team1}}
					</div>
					<div class="schedule_score_block">
						<div class="schedule_score">
							<script>
								set_score({{schedule.team1_score}}, {{schedule.team2_score}});
							</script>
						</div>
						<div class="schedule_time">
							{{schedule.date.time.hour}}시 {{schedule.date.time.minute}}분
						</div>
					</div>
					<div class="schedule_team2">
						<img src="{% get_static_prefix %}img/{{schedule.team2}}.png"><br>
						{{schedule.team2}}
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- scheduls에 없을 경우 -->
			<div class="schedule_block none">
				<div class="schedule_title">
					<div class="schedule_type">
						<script>
							document.write(type);
						</script>
					</div>
					<div class="schedule_date"><span class="date"></span> <span class="schedule_weekday_none">({{schedule.date.weekday}})</span></div>
				</div>
				<div class="schedule_team">
					<div class="schedule_none">경기가 없습니다</div>
				</div>
			</div>
			<div class="controler controler_left"></div>
			<div class="controler controler_right"></div>
		</div>
	</section>
	
	<section id="ranking">
		<h2>순위</h2>
		<div id="ranking_container">
			<!-- row -->
			<div class="ranking_group bottom">
				A조
			</div>
			<div class="ranking_group">
				B조
			</div>
			<!-- row -->
			<div class="ranking_match">
				<div></div>
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div class="bottom" style="grid-row: span 2;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			
			<!-- row -->
			<div class="bottom" style="grid-row: span 2;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 7;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 7;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
	
			<!-- row -->
			<div class="bottom" style="grid-row: span 2;">
				
			</div>
			<div class="bottom" style="grid-row: span 7; border-color: #FF3636;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div class="bottom" style="grid-row: span 7; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>	
			
			<!-- row -->
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div class="bottom" style="grid-row: span 2;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
		
			<!-- row -->
			<div style="grid-row: span 1;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 1;">
				
			</div>
			<div class="right" style="grid-row: span 3; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 2;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 1;">
				
			</div>
			<div class="right" style="grid-row: span 3; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 2;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			
			<!-- row -->
			<div style="grid-row: span 1;">
				
			</div>
			<div class="top" style="grid-row: span 1;">
				
			</div>
			<div class="bottom" style="grid-row: span 3; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="top" style="grid-row: span 2;">
				
			</div>
			<div class="bottom" style="grid-row: span 4;">
				
			</div>
			<div style="grid-row: span 3;">
				
			</div>
			<div class="top" style="grid-row: span 1;">
				
			</div>
			<div class="bottom" style="grid-row: span 3; border-color: #FF3636;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="top" style="grid-row: span 2;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			
			<!-- row -->
			<div class="ranking_match" style="grid-row: span 2;">
				winner
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div class="bottom" style="grid-row: span 5;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match" style="grid-row: span 2;">
				winner
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 3;">
				
			</div>
		
			<!-- row -->
			<div class="bottom" style="grid-row: span 6;">
				
			</div>
			<div class="right" style="grid-row: span 6;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="bottom-right" style="grid-row: span 7;">
				
			</div>
			<div style="grid-row: span 5;">
				
			</div>
		
			<!-- row -->
			<div class="bottom" style="grid-row: span 12;">
				
			</div>
			<div style="grid-row: span 2;">
				
			</div>
			<div class="top" style="grid-row: span 12;">
				
			</div>
			
			<!-- row -->
			<div style="grid-row: span 11;">
				
			</div>
			<div class="ranking_match">
				team1 vs team2
			</div>
			<div style="grid-row: span 11;">
				
			</div>
		</div>
	</section>
	
	
	<script defer type="text/javascript" src="static/js/index.js"></script>
{% endblock content %}