{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="static/schedule/css/style.css">
	<title>LCKinfo.lol - 일정</title>
{% endblock %}

{% block content %}
	{% load static %}
	<h2>일정</h2>
	<div id="schedule_block">
		<div id="month_selection">
			<div class="month activated" id="month_01">1월</div>
			<div class="month activated" id="month_02">2월</div>
			<div class="month activated" id="month_03">3월</div>
			<div class="month activated" id="month_04">4월</div>
			<div class="month activated" id="month_05">5월</div>
			<div class="month activated" id="month_06">6월</div>
			<div class="month activated" id="month_07">7월</div>
			<div class="month activated" id="month_08">8월</div>
			<div class="month activated" id="month_09">9월</div>
			<div class="month" id="month_10">10월</div>
			<div class="month" id="month_11">11월</div>
			<div class="month" id="month_12">12월</div>
		</div>
		<div class="team_selection month_01 month_02 month_03 month_04">
			<div class="team">
				<button type="button"><img class="all" src="{% static 'img/teams/ALL.png' %}"></button>
				<div class="team_name">전체</div>
			</div>
			{% for team in teams_2024_1 %}
			<div class="team">
				<button type="button"><img class="{{team}}" src="{% static 'img/teams/LCK 2024 spring/'|add:team|add:'.webp' %}"></button>
				<div class="team_name">{{team}}</div>
			</div>
			{% endfor %}
		</div>
		<div class="team_selection month_05">
			<div class="team">
				<button type="button"><img class="all" src="{% static 'img/teams/ALL.png' %}"></button>
				<div class="team_name">전체</div>
			</div>
			{% for team in teams_2024_2 %}
			<div class="team">
				<button type="button"><img class="{{team}}" src="{% static 'img/teams/MSI 2024/'|add:team|add:'.webp' %}"></button>
				<div class="team_name">{{team}}</div>
			</div>
			{% endfor %}
		</div>
		{% comment %}<div class="team_selection month_06 month_07 month_08 month_09">
			<div class="team">
				<button type="button"><img class="all" src="{% static 'img/teams/ALL.png' %}"></button>
				<div class="team_name">전체</div>
			</div>
			{% for team in teams_2024_3 %}
			<div class="team">
				<button type="button"><img class="{{team}}" src="{% static 'img/teams/LCK 2024 spring/'|add:team|add:'.webp' %}"></button>
				<div class="team_name">{{team}}</div>
			</div>
			{% endfor %}
		</div>{% endcomment %}
		{% for team in teams_2024_3 %}
		<div class="team">
			<button type="button"><img class="{{team}}" src="{% static 'img/teams/LCK 2024 summer/'|add:team|add:'.webp' %}"></button>
			<div class="team_name">{{team}}</div>
		</div>
		{% endfor %}
		<div id="schedules">
			{% for schedule in schedules %}
			<div class="schedule month_{{schedule.date|date:'m'}} {{schedule.team1_tricode}} {{schedule.team2_tricode}}">
				<div class="date">{{schedule.date|date:'M'}} {{schedule.date|date:'j'}}일</div>
				<div class="time">{{schedule.date|date:'a'}}<br>{{schedule.date|date:'g'}}시 {{schedule.date|date:'i'}}분</div>
				
				<div class="team team1">
					<img class="team_img team1_img" src="{% static 'img/teams/'|add:schedule.tournament|add:'/'|add:schedule.team1_tricode|add:'.webp' %}"><br>
					<div class="team_name">{{schedule.team1_name}}</div>
				</div>
					{% if schedule.team1_score == 0 and schedule.team2_score == 0 %}
						<div class="result">vs</div>
					{% else %}
						<div class="result">{{schedule.team1_score}} : {{schedule.team2_score}}</div>
					{% endif %}
					
				<div class="team team2">
					<div class="team_name">{{schedule.team2_name}}</div>
					<img class="team_img team2_img" src="{% static 'img/teams/'|add:schedule.tournament|add:'/'|add:schedule.team2_tricode|add:'.webp' %}"><br>
				</div>
				
				<div class="etc">{{schedule.tournament}} {{schedule.etc}}</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
	<script type="text/javascript" src="static/schedule/js/schedule.js"></script>
{% endblock content %}
