{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/LCK/12summer-14summer.css">
{% endblock %}

{% block history_content %}
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/LCK 2013 Winter/NaJin_Sword.webp' %}">
					<div id="winner_team_name">NaJin Sword</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">Reach 박정석</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">Sim 심성수</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/Top.webp' %}"><br>TOP</div>
					<div class="winner_player_name">MakNooN 윤하운</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Watch 조재걸</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">SSONG 김상수</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">PraY 김종인</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">Cain 장누리</div>
				</div>
			</div>
			<div id="award_player">
				<div class="award_player regular_MVP">
					<div class="awrd_player_index">MVP</div>
					<div class="awrd_player_name">MakNooN 윤하운</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="round16">
		<h2>12강</h2>
		
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col>
				<col>
				<col style="width: 250px;">
			</colgroup>
			<tr>
				<th colspan="8">A조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승점</th><th>승</th><th>무</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #eeccee;">1</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/Azubu_Frost.webp' %}"></td>
				<td>Azubu Frost</td>
				<td>10</td>
				<td>2</td>
				<td>4</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #aaddff;">2</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/MVP_White.webp' %}"></td>
				<td>MVP White</td>
				<td>9</td>
				<td>2</td>
				<td>3</td>
				<td>1</td>
				<td>vs LG-IM 상대승 우세</td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">3</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/LG-Incredible_Miracle.webp' %}"></td>
				<td>LG-Incredible Miracle</td>
				<td>9</td>
				<td>2</td>
				<td>3</td>
				<td>1</td>
				<td>vs MVP White 상대승 열세</td>
			</tr>
			<tr>
				<td style="background-color: #ccffcc;">4</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/kt_Rolster_A.webp' %}"></td>
				<td>KT Rolster A</td>
				<td>8</td>
				<td>1</td>
				<td>5</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">5</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/NaJin_Shield.webp' %}"></td>
				<td>NaJin Shield</td>
				<td>6</td>
				<td>1</td>
				<td>3</td>
				<td>2</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">6</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/Team_OP.webp' %}"></td>
				<td>Team OP</td>
				<td>3</td>
				<td>0</td>
				<td>3</td>
				<td>3</td>
				<td> - </td>
			</tr>
		</table>
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col>
				<col>
				<col style="width: 250px;">
			</colgroup>
			
			<tr>
				<th colspan="8">B조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승점</th><th>승</th><th>무</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #eeccee;">1</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/kt_Rolster_B.webp' %}"></td>
				<td>KT Rolster B</td>
				<td>16</td>
				<td>5</td>
				<td>1</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #aaddff;">2</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/Azubu_Blaze.webp' %}"></td>
				<td>Azubu Blaze</td>
				<td>13</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">3</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/NaJin_Sword.webp' %}"></td>
				<td>NaJin Sword</td>
				<td>10</td>
				<td>3</td>
				<td>1</td>
				<td>2</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ccffcc;">4</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/CJ_Entus.webp' %}"></td>
				<td>CJ Entus</td>
				<td>6</td>
				<td>2</td>
				<td>0</td>
				<td>4</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">5</td>
				<td><img src="{% static 'img/teams/LCK 2013 Winter/MVP_Blue.webp' %}"></td>
				<td>MVP Blue</td>
				<td>2</td>
				<td>0</td>
				<td>2</td>
				<td>4</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">6</td>
				<td><img src="{% static 'img/teams/TBD.webp' %}"></td>
				<td>GSG</td>
				<td>2</td>
				<td>0</td>
				<td>2</td>
				<td>4</td>
				<td> - </td>
			</tr>
		</table>
		
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #eeccee"></div><span class="reference_letter"> : 8강 진출 (1시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : 8강 진출 (2시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : 8강 진출 (3시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ccffcc"></div><span class="reference_letter"> : 8강 진출 (4시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ffcccc"></div><span class="reference_letter"> : 탈락 &nbsp;</span>
				</div>
			</div>
		</div>
	</section>
	
	<section id="round8">
		<h2>8강 토너먼트</h2>
		<div id="round8_table">
			<div class="round8_round">
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 A조<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/Azubu_Frost.webp' %}"></div>
						<div class="round8_team_name">Azubu Frost</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/CJ_Entus.webp' %}"></div>
						<div class="round8_team_name">CJ Entus</div>
						<div class="round8_team_score">2</div>
					</div>
				</div>
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 B조<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/Azubu_Blaze.webp' %}"></div>
						<div class="round8_team_name">Azubu Blaze</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/LG-Incredible_Miracle.webp' %}"></div>
						<div class="round8_team_name">LG-IM</div>
						<div class="round8_team_score">2</div>
					</div>
				</div>
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 C조<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/MVP_White.webp' %}"></div>
						<div class="round8_team_name">MVP White</div>
						<div class="round8_team_score">0</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/NaJin_Sword.webp' %}"></div>
						<div class="round8_team_name">NaJin Sword</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
				<div class="round8_block">
					<div class="round8_index">8강 D조<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/kt_Rolster_B.webp' %}"></div>
						<div class="round8_team_name">kt Rolster B</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/kt_Rolster_A.webp' %}"></div>
						<div class="round8_team_name">kt Rolster A</div>
						<div class="round8_team_score">1</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 125px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
					<div style="height: 244px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 220px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 490px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="round8_round">
				<div class="round8_block" style="margin-top: 95px;">
					<div class="round8_index">4강 A조<br>(Bo3의 각각의 경기가 Bo5로 이루어져 있음)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/Azubu_Frost.webp' %}"></div>
						<div class="round8_team_name">Azubu Frost</div>
						<div class="round8_team_score">
							<div>3</div>
							<div>3</div>
							<div>-</div>
						</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/Azubu_Blaze.webp' %}"></div>
						<div class="round8_team_name">Azubu Blaze</div>
						<div class="round8_team_score">
							<div>2</div>
							<div>2</div>
							<div>-</div>
						</div>
					</div>
				</div>
				<div class="round8_block" style="margin-top: 296px;">
					<div class="round8_index">4강 B조<br>(Bo3의 각각의 경기가 Bo5로 이루어져 있음)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/NaJin_Sword.webp' %}"></div>
						<div class="round8_team_name">NaJin Sword</div>
						<div class="round8_team_score">
							<div>3</div>
							<div>3</div>
							<div>-</div>
						</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/kt_Rolster_B.webp' %}"></div>
						<div class="round8_team_name">kt Rolster B</div>
						<div class="round8_team_score">
							<div>1</div>
							<div>0</div>
							<div>-</div>
						</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 220px;"></div>
					<div style="height: 490px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 410px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="round8_round">
				<div class="round8_block" style="margin-top: 285px;">
					<div class="round8_index">결승전<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/Azubu_Frost.webp' %}"></div>
						<div class="round8_team_name">Azubu Frost</div>
						<div class="round8_team_score">0</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/NaJin_Sword.webp' %}"></div>
						<div class="round8_team_name">NaJin Sword</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
				<div class="round8_block" style="margin-top: 250px;">
					<div class="round8_index">3,4위전<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/Azubu_Blaze.webp' %}"></div>
						<div class="round8_team_name">Azubu Blaze</div>
						<div class="round8_team_score">0</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2013 Winter/kt_Rolster_B.webp' %}"></div>
						<div class="round8_team_name">kt Rolster B</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="POG">
		<h2>MVP</h2>
		<table id="POG_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 100px;">
				<col style="width: 300px;">
				<col style="">
				<col style="">
				<col style="width: 150px;">
				<col style="width: 100px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th colspan="2">선수</th><th>포인트</th><th>포지션</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/NaJin_Sword.webp' %}"></td>
				<td>NaJin Sword</td>
				<td>MaKNooN</td>
				<td>윤하운</td>
				<td>1900</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Top_black.webp' %}"></td>
			</tr>
			<tr>
				<td>2</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/NaJin_Sword.webp' %}"></td>
				<td>NaJin Sword</td>
				<td>SSONG</td>
				<td>김상수</td>
				<td>1400</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>3</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/NaJin_Sword.webp' %}"></td>
				<td>NaJin Sword</td>
				<td>Pray</td>
				<td>김종인</td>
				<td>1200</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Bot_black.webp' %}"></td>
			</tr>
			<tr>
				<td>3</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/Azubu_Frost.webp' %}"></td>
				<td>Azubu Frost</td>
				<td>MadLife</td>
				<td>홍민기</td>
				<td>1200</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Support_black.webp' %}"></td>
			</tr>
			<tr>
				<td>5</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/kt_Rolster_B.webp' %}"></td>
				<td>KT Rolster B</td>
				<td>Ryu</td>
				<td>류상욱</td>
				<td>1000</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>5</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/Azubu_Blaze.webp' %}"></td>
				<td>Azubu Blaze</td>
				<td>Ambition</td>
				<td>강찬용</td>
				<td>1000</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>7</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/Azubu_Frost.webp' %}"></td>
				<td>Azubu Frost</td>
				<td>RapidStar</td>
				<td>정민성</td>
				<td>700</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>7</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/kt_Rolster_B.webp' %}"></td>
				<td>KT Rolster B</td>
				<td>KAKAO</td>
				<td>이병권</td>
				<td>700</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>7</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/Azubu_Blaze.webp' %}"></td>
				<td>Azubu Blaze</td>
				<td>Flame</td>
				<td>이호종</td>
				<td>700</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Top_black.webp' %}"></td>
			</tr>
			<tr>
				<td>10</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2013 Winter/Azubu_Frost.webp' %}"></td>
				<td>Azubu Frost</td>
				<td>CloudTemplar</td>
				<td>이현우</td>
				<td>600</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : MVP</span>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
