{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/LCK/12summer-14summer.css">
{% endblock %}

{% block history_content %}
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}">
					<div id="winner_team_name">SK telecom T1 K</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">cCarter 최병훈</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">kkOma 김정균</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/Top.webp' %}"><br>TOP</div>
					<div class="winner_player_name">Impact 정언영</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Bengi 배성웅</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">Faker 이상혁</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">Piglet 채광진</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">PoohManDu 이정현</div>
				</div>
			</div>
			<div id="award_player">
				<div class="award_player regular_MVP">
					<div class="awrd_player_index">MVP</div>
					<div class="awrd_player_name">Faker 이상혁</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="round16">
		<h2>16강</h2>
		
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col>
				<col>
				<col style="width: 250px;">
			</colgroup>
			<tr>
				<th colspan="8">A조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승점</th><th>승</th><th>무</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}"></td>
				<td>SK telecom T1 K</td>
				<td>9</td>
				<td>3</td>
				<td>0</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">2</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/CJ_Entus_Blaze.webp' %}"></td>
				<td>CJ Entus Blaze</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>순위 결정전 승리</td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">3</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_S.webp' %}"></td>
				<td>SK telecom T1 S</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>순위 결정전 패배</td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">4</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Team_NB.webp' %}"></td>
				<td>Team NB</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>3</td>
				<td> - </td>
			</tr>
		</table>
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col>
				<col>
				<col style="width: 250px;">
			</colgroup>
			<tr>
				<th colspan="8">B조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승점</th><th>승</th><th>무</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/kt_Rolster_Bullets.webp' %}"></td>
				<td>kt Rolster Bullets</td>
				<td>7</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">2</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Samsung_Galaxy_Blue.webp' %}"></td>
				<td>Samsung Galaxy Blue</td>
				<td>3</td>
				<td>0</td>
				<td>3</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">3</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Incredible_Miracle_#2.webp' %}"></td>
				<td>Incredible Miracle #2</td>
				<td>2</td>
				<td>0</td>
				<td>2</td>
				<td>1</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">4</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/NaJin_Black_Sword.webp' %}"></td>
				<td>NaJin Black Sword</td>
				<td>2</td>
				<td>0</td>
				<td>2</td>
				<td>1</td>
				<td> - </td>
			</tr>
		</table>
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col>
				<col>
				<col style="width: 250px;">
			</colgroup>
			<tr>
				<th colspan="8">C조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승점</th><th>승</th><th>무</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Samsung_Galaxy_Ozone.webp' %}"></td>
				<td>Samsung Galaxy Ozone</td>
				<td>7</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td>순위 결정전 승리</td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">2</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/NaJin_White_Shield.webp' %}"></td>
				<td>NaJin White Shield</td>
				<td>7</td>
				<td>2</td>
				<td>1</td>
				<td>0</td>
				<td>순위 결정전 패배</td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">3</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Alienware_Arena.webp' %}"></td>
				<td>Alienware Arena</td>
				<td>3</td>
				<td>1</td>
				<td>0</td>
				<td>2</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">4</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Team_Dark.webp' %}"></td>
				<td>Team Dark</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>3</td>
				<td> - </td>
			</tr>
		</table>
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col>
				<col>
				<col style="width: 250px;">
			</colgroup>
			<tr>
				<th colspan="8">D조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승점</th><th>승</th><th>무</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Xenics_Storm.webp' %}"></td>
				<td>Xenics Storm</td>
				<td>5</td>
				<td>1</td>
				<td>2</td>
				<td>0</td>
				<td>순위 결정전 승리</td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">2</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/CJ_Entus_Frost.webp' %}"></td>
				<td>CJ Entus Frost</td>
				<td>5</td>
				<td>1</td>
				<td>2</td>
				<td>0</td>
				<td>순위 결정전 패배</td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">3</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Jin_Air_Greenwings_Falcons.webp' %}"></td>
				<td>Jin Air Greenwings Falcons</td>
				<td>2</td>
				<td>0</td>
				<td>2</td>
				<td>1</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">4</td>
				<td><img src="{% static 'img/teams/LCK 2014 Winter/Jin_Air_Greenwings_Stealths.webp' %}"></td>
				<td>Jin Air Greenwings Stealths</td>
				<td>2</td>
				<td>0</td>
				<td>2</td>
				<td>1</td>
				<td> - </td>
			</tr>
		</table>
		
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : 8강 진출 (1시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : 8강 진출 (2시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ffcccc"></div><span class="reference_letter"> : 탈락 &nbsp;</span>
				</div>
			</div>
		</div>
	</section>
	
	<section id="round8">
		<h2>8강 토너먼트</h2>
		<div id="round8_table">
			<div class="round8_round">
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 A조<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}"></div>
						<div class="round8_team_name">SKT T1 K</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/Samsung_Galaxy_Blue.webp' %}"></div>
						<div class="round8_team_name">Samsung Blue</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 B조<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/kt_Rolster_Bullets.webp' %}"></div>
						<div class="round8_team_name">kt Bullets</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/CJ_Entus_Blaze.webp' %}"></div>
						<div class="round8_team_name">CJ Blaze</div>
						<div class="round8_team_score">1</div>
					</div>
				</div>
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 C조<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/Xenics_Storm.webp' %}"></div>
						<div class="round8_team_name">Xenics Storm</div>
						<div class="round8_team_score">1</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/NaJin_White_Shield.webp' %}"></div>
						<div class="round8_team_name">NaJin W Shield</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
				<div class="round8_block">
					<div class="round8_index">8강 D조<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/Samsung_Galaxy_Ozone.webp' %}"></div>
						<div class="round8_team_name">Samsung Ozone</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/CJ_Entus_Frost.webp' %}"></div>
						<div class="round8_team_name">CJ Frost</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 125px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
					<div style="height: 244px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 220px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 490px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="round8_round">
				<div class="round8_block" style="margin-top: 95px;">
					<div class="round8_index">4강 A조<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}"></div>
						<div class="round8_team_name">SKT T1 K</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/kt_Rolster_Bullets.webp' %}"></div>
						<div class="round8_team_name">kt Bullets</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
				<div class="round8_block" style="margin-top: 296px;">
					<div class="round8_index">4강 B조<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/NaJin_White_Shield.webp' %}"></div>
						<div class="round8_team_name">NaJin W Shield</div>
						<div class="round8_team_score">1</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/Samsung_Galaxy_Ozone.webp' %}"></div>
						<div class="round8_team_name">Samsung Ozone</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 220px;"></div>
					<div style="height: 490px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 410px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="round8_round">
				<div class="round8_block" style="margin-top: 285px;">
					<div class="round8_index">결승전<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}"></div>
						<div class="round8_team_name">SKT T1 K</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/Samsung_Galaxy_Ozone.webp' %}"></div>
						<div class="round8_team_name">Samsung Ozone</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
				<div class="round8_block" style="margin-top: 250px;">
					<div class="round8_index">3,4위전<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/kt_Rolster_Bullets.webp' %}"></div>
						<div class="round8_team_name">kt Bullets</div>
						<div class="round8_team_score">1</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2014 Winter/NaJin_White_Shield.webp' %}"></div>
						<div class="round8_team_name">NaJin W Shield</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="POG">
		<h2>MVP</h2>
		<table id="POG_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 100px;">
				<col style="width: 300px;">
				<col style="">
				<col style="">
				<col style="width: 150px;">
				<col style="width: 100px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th colspan="2">선수</th><th>포인트</th><th>포지션</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}"></td>
				<td>SK telecom T1 K</td>
				<td>Faker</td>
				<td>이상혁</td>
				<td>950</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>2</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/Samsung_Galaxy_Ozone.webp' %}"></td>
				<td>Samsung Galaxy Ozone</td>
				<td>Imp</td>
				<td>구승빈</td>
				<td>650</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Bot_black.webp' %}"></td>
			</tr>
			<tr>
				<td>3</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/NaJin_White_Shield.webp' %}"></td>
				<td>NaJin White Shield</td>
				<td>Ggoong</td>
				<td>유병준</td>
				<td>550</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>4</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}"></td>
				<td>SK telecom T1 K</td>
				<td>PoohManDu</td>
				<td>이정현</td>
				<td>500</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Support_black.webp' %}"></td>
			</tr>
			<tr>
				<td>5</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}"></td>
				<td>SK telecom T1 K</td>
				<td>Impact</td>
				<td>정언영</td>
				<td>450</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Top_black.webp' %}"></td>
			</tr>
			<tr>
				<td>5</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/Samsung_Galaxy_Ozone.webp' %}"></td>
				<td>Samsung Galaxy Ozone</td>
				<td>Dade</td>
				<td>배어진</td>
				<td>450</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>5</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/kt_Rolster_Bullets.webp' %}"></td>
				<td>KT Rolster Bullets</td>
				<td>Mafa</td>
				<td>원상연</td>
				<td>450</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Support_black.webp' %}"></td>
			</tr>
			<tr>
				<td>8</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/Xenics_Storm.webp' %}"></td>
				<td>제닉스 스톰</td>
				<td>Arrow</td>
				<td>노동현</td>
				<td>350</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Bot_black.webp' %}"></td>
			</tr>
			<tr>
				<td>9</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/SK_telecom_T1_K.webp' %}"></td>
				<td>SK telecom T1 K</td>
				<td>Piglet</td>
				<td>채광진</td>
				<td>300</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Bot_black.webp' %}"></td>
			</tr>
			<tr>
				<td>9</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2014 Winter/NaJin_White_Shield.webp' %}"></td>
				<td>NaJin White Shield</td>
				<td>Nofe</td>
				<td>정노철</td>
				<td>300</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : MVP</span>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
