# .gitignore

index/management/commands/__pycache__
index/management/commands/last_update_champion.txt
index/management/commands/last_update_player_ranking.txt

index/__pycache__
__pycache__/
LCKlol/__pycache__
log/
LCKlol/settings.py
.config/
/static/

update.sh