@charset "UTP-8";

/* version */
#version {
	margin: 30px 0 30px 0; text-align: right;
}

/* champion */
#champion {
	margin: 0 0 30px 0;
	width: 920px;
	float: left;
}

#champion h2 {
	padding: 0 20px;
	font-size: 30px; margin-bottom: 10px;
}

#champion .champion_table_th_tr {
	background: #1C192B;
	color: #DCDFE0;
}

#champion tr {
	border-top: #BDBDBD 1px solid;
}

#champion tr td:nth-child(2) {
	border-right: #BDBDBD 1px solid;
}

#champion .champion_table_th_tr th {
	padding: 5px 0;
}

#champion .champion_table tr td img {
	vertical-align: middle;
	padding: 3px 0;
	width: 50%;
}

/* schedule */
#schedule {
	position: relative;
	margin: 0 0 30px 0;
	float: left;
	width: 420px;
}

#schedule h2 {
	padding: 0 20px;
	font-size: 30px; margin-bottom: 10px;
}

#schedule #schedule_block {
	margin: 0 auto;
	width: 90%;
	min-height: 100px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 10px gray;
}

#schedule #schedule_block #schedule_title {
	background: #1C192B;
	color: #DCDFE0;
	border-radius: 10px 10px 0 0;
	padding: 5px 0;
}

#schedule #schedule_block .schedule_match {
	display: none;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	border-radius: 0 0 10px 10px;
	border-top: #BDBDBD 1px solid;
}

#schedule #schedule_block .schedule_team img {
	width: 40px;
}

#schedule #schedule_block .schedule_team1 {
	width: 40%;
	float: left;
}
#schedule  #schedule_block .schedule_score_block {
	float: left;
	width: 20%;
	margin-top: 10px;
	text-align: center;
}

#schedule #schedule_block .schedule_score {
	width: 100%;
	font-size: 20px;
}

#schedule #schedule_block .schedule_time {
	width: 100%;
	font-size: 14px;
	margin-top: 10px;
}

#schedule #schedule_block .schedule_team2 {
	width: 40%;
	float: left;
}

#schedule .schedule_controler {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 35px;
	border: 2px solid #1C192B;
	position: absolute;
	text-align: center;
	top: 120px;
	font-size: 22px;
	background-color: #F7F7F7;
}

#schedule .schedule_controler::after {
	display: block;
	border-radius: 40px;
}

#schedule .schedule_controler:hover::after {
	background-color: #1C192B;
	color: #F7F7F7;
}

#schedule .schedule_controler_left {
	left: 5px;
}

#schedule .schedule_controler_left::after {
	content:"<";
}

#schedule .schedule_controler_right {
	right: 5px;
}

#schedule .schedule_controler_right::after {
	content:">";
	display: block;
}

/* ranking */
#ranking {
	clear: both;
}

#ranking h2 {
	padding: 0 20px;
	font-size: 30px; margin-bottom: 10px;
}

#ranking_blocks {
	margin: 30px auto;
	width: 98%;
	display: flex;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}

#ranking_blocks .ranking_block {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#ranking_blocks .ranking_block div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 100%;
}

#ranking_blocks .ranking_block1 {
	display: flex;
	flex-basis: 50px;
}

#ranking_blocks .ranking_block1 .ranking {
	color: #373a3c;
}

#ranking_blocks .ranking_block1 .ranking:nth-child(n+1):nth-child(-n+5) {
	background: #aaddff;
}

#ranking_blocks .ranking_block1 .ranking:nth-child(n+6):nth-child(-n+7) {
	background: #97ECAB;
}

#ranking_blocks .ranking_block1 .ranking:nth-child(n+8):nth-child(-n+11) {
	background: #FFFF99;
}

#ranking_blocks .ranking_block2 {
	display: flex;
	flex-basis: 280px;
	border-right: #BDBDBD 1px solid;
}

#ranking_blocks .ranking_block2 .team .team_name {
	flex: 1;
	flex-basis: 200px;
}

#ranking_blocks .ranking_block2 .team .team_img {
	flex: 1;
	flex-basis: 80px;
}

#ranking_blocks .ranking_block2 .team .team_img img {
	width: 60px;
}

#ranking_blocks .ranking_block3 {
	flex-basis: 60px;
	justify-content: center;
	align-items: center;
	display: flex;
}

#ranking_blocks .ranking_block3 .game_win:nth-child(odd) {
	background: #E7E7E7;
}

#ranking_blocks .ranking_block3 .game_lose:nth-child(odd) {
	background: #E7E7E7;
}

#ranking_blocks .ranking_block3 .set_win_lose:nth-child(odd) {
	background: #E7E7E7;
}

#ranking_blocks .ranking_block3 .set_diff:nth-child(odd) {
	background: #E7E7E7;
}

#ranking_blocks .ranking_block3 .etc:nth-child(odd) {
	background: #E7E7E7;
}

#ranking_blocks .ranking_block2 .team:nth-child(odd) {
	background: #E7E7E7;
}

#ranking_blocks .ranking_block .title {
	height: 40px;
	color: #DCDFE0;
	background: #1C192B;
}

/* reference */
.reference {
	display: flex;
	margin-bottom: 30px;
	justify-content: flex-end;
	font-size: 14px;
	overflow: hidden;
}
.reference .reference_element {
	margin: 0 0 0 5px;
}
.reference .reference_element .reference_letter {
	border-right: 1px solid #bbb;
}
.reference .reference_element:last-child .reference_letter {
	border-right: 0;
}
.reference .reference_element .reference_color {
	display: inline-block;
	width: 15px;
	height: 15px;
}
