/* reference */
.reference {
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
	overflow: hidden;
}

.reference .reference_element {
	margin: 0 0 0 5px;
}

.reference .reference_element .reference_letter {
	border-right: 1px solid #bbb;
}

.reference .reference_element:last-child .reference_letter {
	border-right: 0;
}

.reference .reference_element .reference_color {
	display: inline-block;
	width: 15px;
	height: 15px;
}


/* result_table */
#result {
	margin: 0 auto 50px;
}

#result #result_table {
	margin: 0 auto;
	width: 98%;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}

/* winner_team */
#result #result_table #winner_team #winner_team_index {
	background: #1C192B;
	color: #DCDFE0;
	padding: 5px;
}

#result #result_table #winner_team #winner_team_content img {
	width: 120px;
}


/* winner_coach */
#result #result_table #winner_coach .coach {
	overflow: hidden;
}

#result #result_table #winner_coach .coach .coach_index {
	float: left;
	background: #1C192B;
	color: #DCDFE0;
	width: 200px;
	padding: 10px;
}

#result #result_table #winner_coach .coach .coach_name {
	float: left;
	padding: 10px;
}

/* winner_player */
#result #result_table #winner_player {
	display: flex;
}

#result #result_table #winner_player .winner_player {
	flex: 1;
}

#result #result_table #winner_player .winner_player .winner_player_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 0 0 10px 0;
}

#result #result_table #winner_player .winner_player .winner_player_index img {
	height: 40px;
	padding: 10px 0;
}

#result #result_table #winner_player .winner_player .winner_player_name {
	padding: 5px;
}

/* award player */
#result #result_table #award_player {
	display: flex;
}

#result #result_table #award_player .award_player {
	flex: 1;
}

#result #result_table #award_player .award_player .awrd_player_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 5px 0;
}

#result #result_table #award_player .award_player .awrd_player_name {
	padding: 5px;
}


/* round12 */
#round12 {
	margin: 0 auto 50px;
}

#round12 .round12_table {
	margin: 0 auto 20px;
	width: 98%;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}

#round12 .round12_table th {
	background: #1C192B;
	color: #DCDFE0;
}

#round12 .round12_table tr:nth-child(odd) {
	background: #e7e7e7;
}

#round12 .round12_table tr td img {
	display: block;
	margin: 0 auto;
	height: 60px;
}

/* round8 */
#round8 {
	margin: 0 auto 50px;
}
#round8 #round8_table {
	padding: 20px 10px;
	overflow: hidden;
}
#round8 #round8_table .blanc {
	float: left;
	width: 5%;
	line-height: 186px;
}
#round8 #round8_table .blanc .blanc1 {
	width: 50%;
	float: left;
}
#round8 #round8_table .blanc .blanc1 div {
	width: 100%;
}
#round8 #round8_table .round8_round {
	width: 30%;
	float: left;
}
#round8 #round8_table .round8_round .round8_block {
	height: 196px;
	text-align: center;
	overflow: hidden;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}
#round8 #round8_table .round8_round .round8_block .round8_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 5px 0;
	height: 46px;
}
#round8 #round8_table .round8_round .round8_block .round8_team {
	display: flex;
}
#round8 #round8_table .round8_round .round8_block .win {
	border-left: #489CFF 5px solid;
}
#round8 #round8_table .round8_round .round8_block .lose {
	border-left: #BDBDBD 5px solid;
	background: #dddddd;
}
#round8 #round8_table .round8_round .round8_block .round8_team div {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
#round8 #round8_table .round8_round .round8_block .round8_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 5px 0;
}
#round8 #round8_table .round8_round .round8_block .round8_team .round8_team_name {
	flex-basis: 100px;
}
#round8 #round8_table .round8_round .round8_block .round8_team img {
	height: 60px;
}
#round8 #round8_table .round8_round .round8_arrow {
	display: flex;
	flex-basis: 50px;
	justify-content: center;
	align-items: center;
}


/* POG */
#POG {
	margin: 0 auto 50px;
}

#POG #POG_table {
	margin: 0 auto 20px;
	width: 80%;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}

#POG #POG_table th {
	background: #1C192B;
	color: #DCDFE0;
}

#POG #POG_table tr:nth-child(odd) {
	background: #e7e7e7;
}

#POG #POG_table tr td .POG_team_img {
	display: block;
	margin: 0 auto;
	height: 60px;
}

#POG #POG_table tr td .POG_position_img {
	display: block;
	margin: 0 auto;
	height: 30px;
}

#POG .reference {
	margin: 0 150px 0 0;
}