{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/Worlds/20Worlds-22Worlds.css">
{% endblock %}

{% block history_content %}
	
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/2022/Worlds/DRX.webp' %}">
					<div id="winner_team_name">DRX</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">Ssong 김상수</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">Shine 신동욱, Mowgli 이재하</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/Top.webp' %}"><br>TOP</div>
					<div class="winner_player_name">Kingen 황성훈</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Pyosik 홍창현</div>
					<div class="winner_player_name">Juhan 이주한</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">Zeka 김건우</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">Deft 김혁규</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">BeryL 조건희</div>
				</div>
			</div>
			<div id="award_player">
				<div class="award_player final_MVP">
					<div class="awrd_player_index">결승전 MVP</div>
					<div class="awrd_player_name">Kingen 황성훈</div>
				</div>
			</div>
		</div>
	</section>

	<section id="playin">
		<h2>플레이인 스테이지</h2>
		
		<div class="playin_table">
			<table class="playin_group" style="margin-right: 60px;">
				<colgroup>
					<col style="width: 70px;"></col>
					<col style="width: 80px;"></col>
					<col style="width: 190px;"></col>
					<col></col>
					<col></col>
					<col style="width: 160px"></col>
				</colgroup>
				<tr>
					<th colspan="6">플레이인 그룹 스테이지 A조</th>
				</tr>
				<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
				<tr>
					<td style="background-color: #aaddff;">1</td>
					<td><img src="{% static 'img/teams/2022/Worlds/FNC.webp' %}"></td>
					<td>Fnatic</td>
					<td>4</td>
					<td>1</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #97ECAB;">2</td>
					<td><img src="{% static 'img/teams/2022/Worlds/EG.webp' %}"></td>
					<td>Evil Geniuses</td>
					<td>5</td>
					<td>2</td>
					<td>순위 결정전 1, 2 승리</td>
				</tr>
				<tr>
					<td style="background-color: #ccffcc;">3</td>
					<td><img src="{% static 'img/teams/2022/Worlds/LLL.webp' %}"></td>
					<td>LOUD</td>
					<td>3</td>
					<td>3</td>
					<td>순위 결정전 2 패배</td>
				</tr>
				<tr>
					<td style="background-color: #ccffcc;">4</td>
					<td><img src="{% static 'img/teams/2022/Worlds/DFM.webp' %}"></td>
					<td>DetonatioN FocusMe</td>
					<td>3</td>
					<td>3</td>
					<td>순위 결정전 1 패배</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">5</td>
					<td><img src="{% static 'img/teams/2022/Worlds/BYG.webp' %}"></td>
					<td>Mega Bank Beyond Gaming</td>
					<td>2</td>
					<td>3</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">6</td>
					<td><img src="{% static 'img/teams/2022/Worlds/CHF.webp' %}"></td>
					<td>The Chiefs</td>
					<td>0</td>
					<td>5</td>
					<td>-</td>
				</tr>
			</table>
			<table class="playin_group">
				<colgroup>
					<col style="width: 70px;"></col>
					<col style="width: 80px;"></col>
					<col style="width: 190px;"></col>
					<col></col>
					<col></col>
					<col style="width: 160px"></col>
				</colgroup>
				<tr>
					<th colspan="6">플레이인 그룹 스테이지 B조</th>
				</tr>
				<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
				<tr>
					<td style="background-color: #aaddff;">1</td>
					<td><img src="{% static 'img/teams/2022/Worlds/DRX.webp' %}"></td>
					<td>DRX</td>
					<td>5</td>
					<td>0</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #97ECAB;">2</td>
					<td><img src="{% static 'img/teams/2022/Worlds/RNG.webp' %}"></td>
					<td>Royal Never Give Up</td>
					<td>4</td>
					<td>1</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ccffcc;">3</td>
					<td><img src="{% static 'img/teams/2022/Worlds/MAD.webp' %}"></td>
					<td>MAD Lions</td>
					<td>3</td>
					<td>2</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ccffcc;">4</td>
					<td><img src="{% static 'img/teams/2022/Worlds/SGB.webp' %}"></td>
					<td>Saigon Buffalo</td>
					<td>2</td>
					<td>3</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">5</td>
					<td><img src="{% static 'img/teams/2022/Worlds/ISG.webp' %}"></td>
					<td>Isurus</td>
					<td>1</td>
					<td>4</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">6</td>
					<td><img src="{% static 'img/teams/2022/Worlds/IW.webp' %}"></td>
					<td>DenizBank Wildcats</td>
					<td>0</td>
					<td>5</td>
					<td>-</td>
				</tr>
			</table>
		</div>
		<div class="reference" style="margin-bottom: 30px;">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : 그룹 스테이지 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : 플레이인 녹아웃 2라운드 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ccffcc"></div><span class="reference_letter"> : 플레이인 녹아웃 1라운드 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ffcccc"></div><span class="reference_letter"> : 탈락 &nbsp;</span>
				</div>
			</div>
		</div>
		<div class="playin_table" style="margin-bottom: 0;">
			<div class="playin_tournament" style="margin-right: 60px;">
				<div class="playin_round">
					<div class="playin_block">
						<div class="playin_index">플레이인 녹아웃 1라운드<br>(Bo5)</div>
						<div class="playin_team win">
							<div class="playin_team_img"><img src="{% static 'img/teams/2022/Worlds/MAD.webp' %}"></div>
							<div class="playin_team_name">MAD Lions</div>
							<div class="playin_team_score">3</div>
						</div>
						<div class="playin_team lose">
							<div class="playin_team_img"><img src="{% static 'img/teams/2022/Worlds/SGB.webp' %}"></div>
							<div class="playin_team_name">Saigon Buffalo</div>
							<div class="playin_team_score">1</div>
						</div>
					</div>
				</div>
				<div class="blanc">
					<div class="blanc1">
						<div style="height: 125px;"></div>
						<div style="height: 70px; border-top: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
					</div>
					<div class="blanc1">
						<div style="height: 195px; border-bottom: 2px solid #1C192B;"></div>
					</div>
				</div>
				<div class="playin_round" style="padding-top: 70px;">
					<div class="playin_block">
						<div class="playin_index">플레이인 녹아웃 2라운드<br>(Bo5)</div>
						<div class="playin_team win">
							<div class="playin_team_img"><img src="{% static 'img/teams/2022/Worlds/EG.webp' %}"></div>
							<div class="playin_team_name">Evil Geniuses</div>
							<div class="playin_team_score">3</div>
						</div>
						<div class="playin_team lose">
							<div class="playin_team_img"><img src="{% static 'img/teams/2022/Worlds/MAD.webp' %}"></div>
							<div class="playin_team_name">MAD Lions</div>
							<div class="playin_team_score">0</div>
						</div>
					</div>
				</div>
			</div>
			<div class="playin_tournament">
				<div class="playin_round">
					<div class="playin_block">
						<div class="playin_index">플레이인 녹아웃 1라운드<br>(Bo5)</div>
						<div class="playin_team lose">
							<div class="playin_team_img"><img src="{% static 'img/teams/2022/Worlds/LLL.webp' %}"></div>
							<div class="playin_team_name">LOUD</div>
							<div class="playin_team_score">1</div>
						</div>
						<div class="playin_team win">
							<div class="playin_team_img"><img src="{% static 'img/teams/2022/Worlds/DFM.webp' %}"></div>
							<div class="playin_team_name">DetonatioN FocusMe</div>
							<div class="playin_team_score">3</div>
						</div>
					</div>
				</div>
				<div class="blanc">
					<div class="blanc1">
						<div style="height: 125px;"></div>
						<div style="height: 70px; border-top: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
					</div>
					<div class="blanc1">
						<div style="height: 195px; border-bottom: 2px solid #1C192B;"></div>
					</div>
				</div>
				<div class="playin_round" style="padding-top: 70px;">
					<div class="playin_block">
						<div class="playin_index">플레이인 녹아웃 2라운드<br>(Bo5)</div>
						<div class="playin_team win">
							<div class="playin_team_img"><img src="{% static 'img/teams/2022/Worlds/RNG.webp' %}"></div>
							<div class="playin_team_name">Royal Never Give Up</div>
							<div class="playin_team_score">3</div>
						</div>
						<div class="playin_team lose">
							<div class="playin_team_img"><img src="{% static 'img/teams/2022/Worlds/DFM.webp' %}"></div>
							<div class="playin_team_name">DetonatioN FocusMe</div>
							<div class="playin_team_score">1</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="group">
		<h2>그룹 스테이지</h2>
		<div class="group_layer">
			<table class="group_table" style="margin-right: 60px;">
				<colgroup>
					<col style="width: 70px;"></col>
					<col style="width: 80px;"></col>
					<col style="width: 190px;"></col>
					<col></col>
					<col></col>
					<col style="width: 160px"></col>
				</colgroup>
				<tr>
					<th colspan="6">그룹 스테이지 A조</th>
				</tr>
				<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
				<tr>
					<td style="background-color: #aaddff;">1</td>
					<td><img src="{% static 'img/teams/2022/Worlds/T1.webp' %}"></td>
					<td>T1</td>
					<td>5</td>
					<td>1</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #97ECAB;">2</td>
					<td><img src="{% static 'img/teams/2022/Worlds/EDG.webp' %}"></td>
					<td>Edward Gaming Hycan</td>
					<td>4</td>
					<td>2</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">3</td>
					<td><img src="{% static 'img/teams/2022/Worlds/FNC.webp' %}"></td>
					<td>Fnatic</td>
					<td>2</td>
					<td>4</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">4</td>
					<td><img src="{% static 'img/teams/2022/Worlds/C9.webp' %}"></td>
					<td>Cloud9</td>
					<td>1</td>
					<td>5</td>
					<td>-</td>
				</tr>
			</table>
			
			<table class="group_table">
				<colgroup>
					<col style="width: 70px;"></col>
					<col style="width: 80px;"></col>
					<col style="width: 190px;"></col>
					<col></col>
					<col></col>
					<col style="width: 160px"></col>
				</colgroup>
				<tr>
					<th colspan="6">그룹 스테이지 B조</th>
				</tr>
				<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
				<tr>
					<td style="background-color: #aaddff;">1</td>
					<td><img src="{% static 'img/teams/2022/Worlds/JDG.webp' %}"></td>
					<td>JDG Intel Esports Club</td>
					<td>6</td>
					<td>1</td>
					<td>순위 결정전 승리</td>
				</tr>
				<tr>
					<td style="background-color: #97ECAB;">2</td>
					<td><img src="{% static 'img/teams/2022/Worlds/DWG.webp' %}"></td>
					<td>DWG KIA</td>
					<td>5</td>
					<td>2</td>
					<td>순위 결정전 패배</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">3</td>
					<td><img src="{% static 'img/teams/2022/Worlds/G2.webp' %}"></td>
					<td>G2 Esports</td>
					<td>1</td>
					<td>5</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">4</td>
					<td><img src="{% static 'img/teams/2022/Worlds/EG.webp' %}"></td>
					<td>Evil Geniuses</td>
					<td>1</td>
					<td>5</td>
					<td>-</td>
				</tr>
			</table>
		</div>
		
		<div class="group_layer">
			<table class="group_table" style="margin-right: 60px;">
				<colgroup>
					<col style="width: 70px;"></col>
					<col style="width: 80px;"></col>
					<col style="width: 190px;"></col>
					<col></col>
					<col></col>
					<col style="width: 160px"></col>
				</colgroup>
				<tr>
					<th colspan="6">그룹 스테이지 C조</th>
				</tr>
				<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
				<tr>
					<td style="background-color: #aaddff;">1</td>
					<td><img src="{% static 'img/teams/2022/Worlds/DRX.webp' %}"></td>
					<td>DRX</td>
					<td>5</td>
					<td>2</td>
					<td>순위 결정전 승리</td>
				</tr>
				<tr>
					<td style="background-color: #97ECAB;">2</td>
					<td><img src="{% static 'img/teams/2022/Worlds/RGE.webp' %}"></td>
					<td>Rogue</td>
					<td>4</td>
					<td>3</td>
					<td>순위 결정전 패배</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">3</td>
					<td><img src="{% static 'img/teams/2022/Worlds/TES.webp' %}"></td>
					<td>Top Esports</td>
					<td>3</td>
					<td>3</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">4</td>
					<td><img src="{% static 'img/teams/2022/Worlds/GAM.webp' %}"></td>
					<td>GAM Esports</td>
					<td>1</td>
					<td>5</td>
					<td>-</td>
				</tr>
			</table>
			
			<table class="group_table">
				<colgroup>
					<col style="width: 70px;"></col>
					<col style="width: 80px;"></col>
					<col style="width: 190px;"></col>
					<col></col>
					<col></col>
					<col style="width: 160px"></col>
				</colgroup>
				<tr>
					<th colspan="6">그룹 스테이지 D조</th>
				</tr>
				<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
				<tr>
					<td style="background-color: #aaddff;">1</td>
					<td><img src="{% static 'img/teams/2022/Worlds/GEN.webp' %}"></td>
					<td>Gen.G</td>
					<td>6</td>
					<td>1</td>
					<td>순위 결정전 승리</td>
				</tr>
				<tr>
					<td style="background-color: #97ECAB;">2</td>
					<td><img src="{% static 'img/teams/2022/Worlds/RNG.webp' %}"></td>
					<td>Royal Never Give Up</td>
					<td>5</td>
					<td>2</td>
					<td>순위 결정전 패배</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">3</td>
					<td><img src="{% static 'img/teams/2022/Worlds/100.webp' %}"></td>
					<td>100 Thieves</td>
					<td>1</td>
					<td>5</td>
					<td>-</td>
				</tr>
				<tr>
					<td style="background-color: #ffcccc;">4</td>
					<td><img src="{% static 'img/teams/2022/Worlds/CFO.webp' %}"></td>
					<td>CTBC Flying Oyster</td>
					<td>1</td>
					<td>5</td>
					<td>-</td>
				</tr>
			</table>
		</div>
		
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : 8강 진출 (1시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : 8강 진출 (2시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ffcccc"></div><span class="reference_letter"> : 탈락 &nbsp;</span>
				</div>
			</div>
		</div>
	</section>
	
	<section id="tournament">
		<h2>8강 토너먼트</h2>
		<div id="tournament_table">
			<div class="tournament_round">
				<div class="tournament_block" style="margin-bottom: 50px;">
					<div class="tournament_index">8강 1경기<br>(Bo5)</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/JDG.webp' %}"></div>
						<div class="tournament_team_name">JDG Intel Esports Club</div>
						<div class="tournament_team_score">3</div>
					</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/RGE.webp' %}"></div>
						<div class="tournament_team_name">Rogue</div>
						<div class="tournament_team_score">0</div>
					</div>
				</div>
				<div class="tournament_block" style="margin-bottom: 50px;">
					<div class="tournament_index">8강 2경기<br>(Bo5)</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/T1.webp' %}"></div>
						<div class="tournament_team_name">T1</div>
						<div class="tournament_team_score">3</div>
					</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/RNG.webp' %}"></div>
						<div class="tournament_team_name">Royal Never Give Up</div>
						<div class="tournament_team_score">0</div>
					</div>
				</div>
				<div class="tournament_block" style="margin-bottom: 50px;">
					<div class="tournament_index">8강 3경기<br>(Bo5)</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/GEN.webp' %}"></div>
						<div class="tournament_team_name">Gen.G</div>
						<div class="tournament_team_score">3</div>
					</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/DWG.webp' %}"></div>
						<div class="tournament_team_name">DWG KIA</div>
						<div class="tournament_team_score">2</div>
					</div>
				</div>
				<div class="tournament_block">
					<div class="tournament_index">8강 4경기<br>(Bo5)</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/DRX.webp' %}"></div>
						<div class="tournament_team_name">DRX</div>
						<div class="tournament_team_score">3</div>
					</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/EDG.webp' %}"></div>
						<div class="tournament_team_name">Edward Gaming Hycan</div>
						<div class="tournament_team_score">2</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 125px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
					<div style="height: 244px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 220px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 490px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="tournament_round">
				<div class="tournament_block" style="margin-top: 95px;">
					<div class="tournament_index">4강 1경기<br>(Bo5)</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/JDG.webp' %}"></div>
						<div class="tournament_team_name">JDG Intel Esports Club</div>
						<div class="tournament_team_score">1</div>
					</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/T1.webp' %}"></div>
						<div class="tournament_team_name">T1</div>
						<div class="tournament_team_score">3</div>
					</div>
				</div>
				<div class="tournament_block" style="margin-top: 296px;">
					<div class="tournament_index">4강 2경기<br>(Bo5)</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/GEN.webp' %}"></div>
						<div class="tournament_team_name">Gen.G</div>
						<div class="tournament_team_score">1</div>
					</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/DRX.webp' %}"></div>
						<div class="tournament_team_name">DRX</div>
						<div class="tournament_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 220px;"></div>
					<div style="height: 490px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 410px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="tournament_round">
				<div class="tournament_block" style="margin-top: 285px;">
					<div class="tournament_index">결승전<br>(Bo5)</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/T1.webp' %}"></div>
						<div class="tournament_team_name">T1</div>
						<div class="tournament_team_score">2</div>
					</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2022/Worlds/DRX.webp' %}"></div>
						<div class="tournament_team_name">DRX</div>
						<div class="tournament_team_score">3</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
