{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/Worlds/23Worlds.css">
{% endblock %}

{% block history_content %}
	
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/Worlds 2023/T1.webp' %}">
					<div id="winner_team_name">T1</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">Score 고동빈</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">Mafa 원상연 , Museong 김무성 , J 이장희</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/Top.webp' %}"><br>TOP</div>
					<div class="winner_player_name">Doran 최현준</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Peanut 한왕호</div>
					<div class="winner_player_name">YoungJae 고영재</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">Chovy 정지훈</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">Ruler 박재혁</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">Lehends 손시우</div>
				</div>
			</div>
			<div id="award_player">
				<div class="award_player player_of_the_split">
					<div class="awrd_player_index">Player of the Split</div>
					<div class="awrd_player_name">Ruler 박재혁</div>
					<div class="awrd_player_name">Prince 이채환</div>
				</div>
				<div class="award_player regular_MVP">
					<div class="awrd_player_index">정규시즌 MVP</div>
					<div class="awrd_player_name">Ruler 박재혁</div>
				</div>
				<div class="award_player final_MVP">
					<div class="awrd_player_index">파이널 MVP</div>
					<div class="awrd_player_name">Peanut 한왕호</div>
				</div>
			</div>
		</div>
	</section>

	<section id="playin">
		<h2>플레이인 스테이지</h2>
		<div class="playin_table">
			<div class="playin_round">
				<div class="playin_block">
					<div class="playin_index"></div>
					<div class="playin_team"></div>
					<div class="playin_team"></div>
				</div>
				<div class="playin_block">
					<div class="playin_index"></div>
					<div class="playin_team"></div>
					<div class="playin_team"></div>
				</div>
			</div>
			<div class="blanc"></div>
			<div class="playin_round"></div>
			<div class="blanc"></div>
			<div class="playin_round"></div>
		</div>
		<div class="playin_table">
			
		</div>
	</section>

	<section id="swiss">
		<h2>포스트시즌</h2>
		<div id="post_season_table">
			<div class="post_season_round">
				<div class="post_season_block" style="margin-bottom: 50px;">
					<div class="post_season_index">PO 1라운드 1경기<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/LSB.webp' %}"></div>
						<div class="post_season_team_name">LSB</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/DRX.webp' %}"></div>
						<div class="post_season_team_name">DRX</div>
						<div class="post_season_team_score">1</div>
					</div>
				</div>
			
				<div class="post_season_block">
					<div class="post_season_index">PO 1라운드 2경기<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/DK.webp' %}"></div>
						<div class="post_season_team_name">DK</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/KT.webp' %}"></div>
						<div class="post_season_team_name">KT</div>
						<div class="post_season_team_score">2</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="post_season_round">
				<div class="post_season_block" style="margin-bottom: 50px;">
					<div class="post_season_index">PO 2라운드 1경기*<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/GEN.webp' %}"></div>
						<div class="post_season_team_name">GEN</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/LSB.webp' %}"></div>
						<div class="post_season_team_name">LSB</div>
						<div class="post_season_team_score">1</div>
					</div>
				</div>
				
				<div class="post_season_block">
					<div class="post_season_index">PO 2라운드 2경기<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/T1.webp' %}"></div>
						<div class="post_season_team_name">T1</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/DK.webp' %}"></div>
						<div class="post_season_team_name">DK</div>
						<div class="post_season_team_score">2</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 216px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="post_season_round">
				<div class="post_season_block" style="margin-top: 100px;">
					<div class="post_season_index">파이널<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/GEN.webp' %}"></div>
						<div class="post_season_team_name">GEN</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/Worlds 2023/T1.webp' %}"></div>
						<div class="post_season_team_name">T1</div>
						<div class="post_season_team_score">0</div>
					</div>
				</div>
			</div>
		</div>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_letter"><span style="font-weight: bolder;">PO 2라운드*</span> : GEN(정규리그 1위팀)이 LSB(정규리그 3위팀)선택</div>
			</div>
		</div>
	</section>

	<section id="tournament">
		<h2>Player of the Game 포인트</h2>
		<table id="POG_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 100px;">
				<col style="width: 200px;">
				<col style="">
				<col style="">
				<col style="width: 150px;">
				<col style="width: 100px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th colspan="2">선수</th><th>포인트</th><th>포지션</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/GEN.webp' %}"></td>
				<td>Gen.G</td>
				<td>Ruler</td>
				<td>박재혁</td>
				<td>1200</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Bot_black.webp' %}"></td>
			</tr>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/LSB.webp' %}"></td>
				<td>Liiv SANDBOX</td>
				<td>Prince</td>
				<td>이채환</td>
				<td>1200</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Bot_black.webp' %}"></td>
			</tr>
			<tr>
				<td>3</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/T1.webp' %}"></td>
				<td>T1</td>
				<td>Zeus</td>
				<td>최우제</td>
				<td>1100</td>
				<td><img class="POG_position_img" src="{% static 'img/position/TOP_black.webp' %}"></td>
			</tr>
			<tr>
				<td>4</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/KT.webp' %}"></td>
				<td>kt Rolster</td>
				<td>Aiming</td>
				<td>김하람</td>
				<td>1000</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Bot_black.webp' %}"></td>
			</tr>
			<tr>
				<td>5</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/DRX.webp' %}"></td>
				<td>DRX</td>
				<td>Zeka</td>
				<td>김건우</td>
				<td>900</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>6</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/GEN.webp' %}"></td>
				<td>Gen.G</td>
				<td>Peanut</td>
				<td>한왕호</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>6</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/GEN.webp' %}"></td>
				<td>Gen.G</td>
				<td>Chovy</td>
				<td>정지훈</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>6</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/DK.webp' %}"></td>
				<td>DWG KIA</td>
				<td>ShowMaker</td>
				<td>허수</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>9</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/T1.webp' %}"></td>
				<td>T1</td>
				<td>Faker</td>
				<td>이상혁</td>
				<td>700</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>9</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/Worlds 2023/LSB.webp' %}"></td>
				<td>Liiv SANDBOX</td>
				<td>Croco</td>
				<td>김동범</td>
				<td>700</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : Player of the Split</span>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
