{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/Worlds/23Worlds.css">
{% endblock %}

{% block history_content %}
	
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/2023/Worlds/T1.webp' %}">
					<div id="winner_team_name">T1</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">Tom 임재현</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">Roach 김강희</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/Top.webp' %}"><br>TOP</div>
					<div class="winner_player_name">Zeus 최우제</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Oner 문현준</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">Faker 이상혁</div>
					<div class="winner_player_name">Sky 김하늘</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">Gumayusi 이민형</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">Keria 류민석</div>
				</div>
			</div>
			<div id="award_player">
				<div class="award_player final_MVP">
					<div class="awrd_player_index">결승전 MVP</div>
					<div class="awrd_player_name">Zeus 최우제</div>
				</div>
			</div>
		</div>
	</section>

	<section id="playin">
		<h2>플레이인 스테이지</h2>
		<div id="playin_table">
			<div class="playin_round">
				<div class="playin_block" style="margin-bottom: 50px;">
					<div class="playin_index">A조 1경기<br>(Bo3)</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/PSG.webp' %}"></div>
						<div class="playin_team_name">PSG Talon</div>
						<div class="playin_team_score">2</div>
					</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/R7.webp' %}"></div>
						<div class="playin_team_name">Movistar R7</div>
						<div class="playin_team_score">0</div>
					</div>
				</div>
				
				<div class="playin_block" style="margin-bottom: 150px;">
					<div class="playin_index">A조 2경기<br>(Bo3)</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/GAM.webp' %}"></div>
						<div class="playin_team_name">GAM Esports</div>
						<div class="playin_team_score">0</div>
					</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/LLL.webp' %}"></div>
						<div class="playin_team_name">LOUD</div>
						<div class="playin_team_score">2</div>
					</div>
				</div>
				
				<div class="playin_block" style="margin-bottom: 50px;">
					<div class="playin_index">B조 1경기<br>(Bo3)</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/CFO.webp' %}"></div>
						<div class="playin_team_name">CTBC Flying Oyster</div>
						<div class="playin_team_score">2</div>
					</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/DFM.webp' %}"></div>
						<div class="playin_team_name">DetonatioN FocusMe</div>
						<div class="playin_team_score">0</div>
					</div>
				</div>
				
				<div class="playin_block">
					<div class="playin_index">B조 2경기<br>(Bo3)</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/BDS.webp' %}"></div>
						<div class="playin_team_name">Team BDS</div>
						<div class="playin_team_score">1</div>
					</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/TW.webp' %}"></div>
						<div class="playin_team_name">Team Whales</div>
						<div class="playin_team_score">2</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 103px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 173px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px; border-bottom: 2px solid #1C192B; border-left: 2px solid #1C192B"></div>
				</div>
				
				<div class="blanc1" style="margin-top: 150px">
					<div style="height: 103px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1" style="margin-top: 150px">
					<div style="height: 173px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px; border-bottom: 2px solid #1C192B; border-left: 2px solid #1C192B"></div>
				</div>
				
				
			</div>
			<div class="playin_round" style="padding-top: 70px;">
				<div class="playin_block" style="margin-bottom: 50px;">
					<div class="playin_index">A조 승자전*<br>(Bo3)</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/PSG.webp' %}"></div>
						<div class="playin_team_name">PSG Talon</div>
						<div class="playin_team_score">2</div>
					</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/LLL.webp' %}"></div>
						<div class="playin_team_name">LOUD</div>
						<div class="playin_team_score">0</div>
					</div>
				</div>
				
				<div class="playin_block" style="margin-bottom: 150px;">
					<div class="playin_index">A조 패자전<br>(Bo3)</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/GAM.webp' %}"></div>
						<div class="playin_team_name">GAM Esports</div>
						<div class="playin_team_score">2</div>
					</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/R7.webp' %}"></div>
						<div class="playin_team_name">Movistar R7</div>
						<div class="playin_team_score">0</div>
					</div>
				</div>
				
				<div class="playin_block" style="margin-bottom: 50px;">
					<div class="playin_index">B조 승자전*<br>(Bo3)</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/CFO.webp' %}"></div>
						<div class="playin_team_name">CTBC Flying Oyster</div>
						<div class="playin_team_score">1</div>
					</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/TW.webp' %}"></div>
						<div class="playin_team_name">Team Whales</div>
						<div class="playin_team_score">2</div>
					</div>
				</div>
				
				<div class="playin_block">
					<div class="playin_index">B조 패자전<br>(Bo3)</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/BDS.webp' %}"></div>
						<div class="playin_team_name">Team BDS</div>
						<div class="playin_team_score">2</div>
					</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/DFM.webp' %}"></div>
						<div class="playin_team_name">DetonatioN FocusMe</div>
						<div class="playin_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 173px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 243px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px;"></div>
				</div>
				<div class="blanc1" style="margin-top: 80px">
					<div style="height: 173px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1" style="margin-top: 80px">
					<div style="height: 243px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px;"></div>
				</div>
			</div>
			<div class="playin_round" style="padding-top: 140px;">
				<div class="playin_block">
					<div class="playin_index">A조 최종전<br>(Bo3)</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/LLL.webp' %}"></div>
						<div class="playin_team_name">LOUD</div>
						<div class="playin_team_score">0</div>
					</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/GAM.webp' %}"></div>
						<div class="playin_team_name">GAM Esports</div>
						<div class="playin_team_score">2</div>
					</div>
				</div>
				
				<div class="playin_block" style="margin-top: 372px;">
					<div class="playin_index">B조 최종전<br>(Bo3)</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/CFO.webp' %}"></div>
						<div class="playin_team_name">CTBC Flying Oyster</div>
						<div class="playin_team_score">0</div>
					</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/BDS.webp' %}"></div>
						<div class="playin_team_name">Team BDS</div>
						<div class="playin_team_score">2</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 242px;"></div>
					<div style="height: 552px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 383px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 240px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="playin_round" style="padding-top: 280px;">
				<div class="playin_block">
					<div class="playin_index">최종 진출전 1경기**<br>(Bo5)</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/TW.webp' %}"></div>
						<div class="playin_team_name">Team Whales</div>
						<div class="playin_team_score">1</div>
					</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/GAM.webp' %}"></div>
						<div class="playin_team_name">GAM Esports</div>
						<div class="playin_team_score">3</div>
					</div>
				</div>
				<div class="playin_block" style="margin-top: 70px;">
					<div class="playin_index">최종 진출전 2경기**<br>(Bo5)</div>
					<div class="playin_team lose">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/PSG.webp' %}"></div>
						<div class="playin_team_name">PSG Talon</div>
						<div class="playin_team_score">2</div>
					</div>
					<div class="playin_team win">
						<div class="playin_team_img"><img src="{% static 'img/teams/2023/Worlds/BDS.webp' %}"></div>
						<div class="playin_team_name">Team BDS</div>
						<div class="playin_team_score">3</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element"><span style="font-weight: bolder;">승자전*</span> : 승리팀 최종 진출전 진출</div>
				<div class="reference_element"><span style="font-weight: bolder;">최종 진출전**</span> : 승리팀 스위스 스테이지 진출, 패배팀 탈락</div>
			</div>
		</div>
	</section>
	
	<section id="swiss">
		<h2>스위스 스테이지</h2>
		<div id="swiss_table">
			<div class="swiss_round">
				<div class="swiss_block_index">0승 0패<br>(Bo1)</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/T1.webp' %}"></div>
						<div class="swiss_team_name">T1</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/TL.webp' %}"></div>
						<div class="swiss_team_name">TL</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/C9.webp' %}"></div>
						<div class="swiss_team_name">C9</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/MAD.webp' %}"></div>
						<div class="swiss_team_name">MAD</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/GEN.webp' %}"></div>
						<div class="swiss_team_name">GEN</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/GAM.webp' %}"></div>
						<div class="swiss_team_name">GAM</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/JDG.webp' %}"></div>
						<div class="swiss_team_name">JDG</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/BDS.webp' %}"></div>
						<div class="swiss_team_name">BDS</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/G2.webp' %}"></div>
						<div class="swiss_team_name">G2</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/DK.webp' %}"></div>
						<div class="swiss_team_name">DK</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/NRG.webp' %}"></div>
						<div class="swiss_team_name">NRG</div>
						<div class="swiss_team_score">0</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/WBG.webp' %}"></div>
						<div class="swiss_team_name">WBG</div>
						<div class="swiss_team_score">1</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/FNC.webp' %}"></div>
						<div class="swiss_team_name">FNC</div>
						<div class="swiss_team_score">0</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/LNG.webp' %}"></div>
						<div class="swiss_team_name">LNG</div>
						<div class="swiss_team_score">1</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/BLG.webp' %}"></div>
						<div class="swiss_team_name">BLG</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/KT.webp' %}"></div>
						<div class="swiss_team_name">KT</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="swiss_blanc"></div>
			<div class="swiss_round">
				<div class="swiss_block_index">1승 0패<br>(Bo1)</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/C9.webp' %}"></div>
						<div class="swiss_team_name">C9</div>
						<div class="swiss_team_score">0</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/LNG.webp' %}"></div>
						<div class="swiss_team_name">LNG</div>
						<div class="swiss_team_score">1</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/GEN.webp' %}"></div>
						<div class="swiss_team_name">GEN</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/T1.webp' %}"></div>
						<div class="swiss_team_name">T1</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/G2.webp' %}"></div>
						<div class="swiss_team_name">G2</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/WBG.webp' %}"></div>
						<div class="swiss_team_name">WBG</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/JDG.webp' %}"></div>
						<div class="swiss_team_name">JDG</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/BLG.webp' %}"></div>
						<div class="swiss_team_name">BLG</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block_index">0승 1패<br>(Bo1)</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/NRG.webp' %}"></div>
						<div class="swiss_team_name">NRG</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/TL.webp' %}"></div>
						<div class="swiss_team_name">TL</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/MAD.webp' %}"></div>
						<div class="swiss_team_name">MAD</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/BDS.webp' %}"></div>
						<div class="swiss_team_name">BDS</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/FNC.webp' %}"></div>
						<div class="swiss_team_name">FNC</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/GAM.webp' %}"></div>
						<div class="swiss_team_name">GAM</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/KT.webp' %}"></div>
						<div class="swiss_team_name">KT</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/DK.webp' %}"></div>
						<div class="swiss_team_name">DK</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="swiss_blanc"></div>
			<div class="swiss_round">
				<div class="swiss_block_index">2승 0패<br>(Bo3)</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/JDG.webp' %}"></div>
						<div class="swiss_team_name">JDG</div>
						<div class="swiss_team_score">2</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/LNG.webp' %}"></div>
						<div class="swiss_team_name">LNG</div>
						<div class="swiss_team_score">1</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/G2.webp' %}"></div>
						<div class="swiss_team_name">G2</div>
						<div class="swiss_team_score">0</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/GEN.webp' %}"></div>
						<div class="swiss_team_name">GEN</div>
						<div class="swiss_team_score">2</div>
					</div>
				</div>
				<div class="swiss_block_index">1승 1패<br>(Bo1)</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/T1.webp' %}"></div>
						<div class="swiss_team_name">T1</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/C9.webp' %}"></div>
						<div class="swiss_team_name">C9</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/NRG.webp' %}"></div>
						<div class="swiss_team_name">NRG</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/MAD.webp' %}"></div>
						<div class="swiss_team_name">MAD</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/BLG.webp' %}"></div>
						<div class="swiss_team_name">BLG</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/FNC.webp' %}"></div>
						<div class="swiss_team_name">FNC</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/KT.webp' %}"></div>
						<div class="swiss_team_name">KT</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/WBG.webp' %}"></div>
						<div class="swiss_team_name">WBG</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block_index">0승 2패<br>(Bo3)</div>
				<div class="swiss_block">
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/TL.webp' %}"></div>
						<div class="swiss_team_name">TL</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/GAM.webp' %}"></div>
						<div class="swiss_team_name">GAM</div>
						<div class="swiss_team_score">2</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/DK.webp' %}"></div>
						<div class="swiss_team_name">DK</div>
						<div class="swiss_team_score">2</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/BDS.webp' %}"></div>
						<div class="swiss_team_name">BDS</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="swiss_blanc"></div>
			<div class="swiss_round">
				<div class="swiss_block_index">2승 1패<br>(Bo3)</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/KT.webp' %}"></div>
						<div class="swiss_team_name">KT</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/LNG.webp' %}"></div>
						<div class="swiss_team_name">LNG</div>
						<div class="swiss_team_score">2</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/NRG.webp' %}"></div>
						<div class="swiss_team_name">NRG</div>
						<div class="swiss_team_score">2</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/G2.webp' %}"></div>
						<div class="swiss_team_name">G2</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/T1.webp' %}"></div>
						<div class="swiss_team_name">T1</div>
						<div class="swiss_team_score">2</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/BLG.webp' %}"></div>
						<div class="swiss_team_name">BLG</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block_index">1승 2패<br>(Bo3)</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/C9.webp' %}"></div>
						<div class="swiss_team_name">C9</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/FNC.webp' %}"></div>
						<div class="swiss_team_name">FNC</div>
						<div class="swiss_team_score">2</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/MAD.webp' %}"></div>
						<div class="swiss_team_name">MAD</div>
						<div class="swiss_team_score">0</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/WBG.webp' %}"></div>
						<div class="swiss_team_name">WBG</div>
						<div class="swiss_team_score">2</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/DK.webp' %}"></div>
						<div class="swiss_team_name">DK</div>
						<div class="swiss_team_score">2</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/GAM.webp' %}"></div>
						<div class="swiss_team_name">GAM</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="swiss_blanc"></div>
			<div class="swiss_round">
				<div class="swiss_block_index">2승 2패<br>(Bo3)</div>
				<div class="swiss_block">
					
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/KT.webp' %}"></div>
						<div class="swiss_team_name">KT</div>
						<div class="swiss_team_score">2</div>
					</div>
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/DK.webp' %}"></div>
						<div class="swiss_team_name">DK</div>
						<div class="swiss_team_score">0</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/FNC.webp' %}"></div>
						<div class="swiss_team_name">FNC</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/WBG.webp' %}"></div>
						<div class="swiss_team_name">WBG</div>
						<div class="swiss_team_score">2</div>
					</div>
				</div>
				<div class="swiss_block">
					
					<div class="swiss_team lose">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/G2.webp' %}"></div>
						<div class="swiss_team_name">G2</div>
						<div class="swiss_team_score">1</div>
					</div>
					<div class="swiss_team win">
						<div class="swiss_team_img"><img src="{% static 'img/teams/2023/Worlds/BLG.webp' %}"></div>
						<div class="swiss_team_name">BLG</div>
						<div class="swiss_team_score">2</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="tournament">
		<h2>8강 토너먼트</h2>
		<div id="tournament_table">
			<div class="tournament_round">
				<div class="tournament_block" style="margin-bottom: 50px;">
					<div class="tournament_index">8강 1경기<br>(Bo5)</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/NRG.webp' %}"></div>
						<div class="tournament_team_name">NRG</div>
						<div class="tournament_team_score">0</div>
					</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/WBG.webp' %}"></div>
						<div class="tournament_team_name">Weibo Gaming Faw Audi</div>
						<div class="tournament_team_score">3</div>
					</div>
				</div>
				<div class="tournament_block" style="margin-bottom: 50px;">
					<div class="tournament_index">8강 2경기<br>(Bo5)</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/GEN.webp' %}"></div>
						<div class="tournament_team_name">Gen.G</div>
						<div class="tournament_team_score">2</div>
					</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/BLG.webp' %}"></div>
						<div class="tournament_team_name">Bilibili Gaming Pingan Bank</div>
						<div class="tournament_team_score">3</div>
					</div>
				</div>
				<div class="tournament_block" style="margin-bottom: 50px;">
					<div class="tournament_index">8강 3경기<br>(Bo5)</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/JDG.webp' %}"></div>
						<div class="tournament_team_name">JDG Intel Esports Club</div>
						<div class="tournament_team_score">3</div>
					</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/KT.webp' %}"></div>
						<div class="tournament_team_name">kt Rolster</div>
						<div class="tournament_team_score">1</div>
					</div>
				</div>
				<div class="tournament_block">
					<div class="tournament_index">8강 4경기<br>(Bo5)</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/LNG.webp' %}"></div>
						<div class="tournament_team_name">LNG Esports</div>
						<div class="tournament_team_score">0</div>
					</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/T1.webp' %}"></div>
						<div class="tournament_team_name">T1</div>
						<div class="tournament_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 125px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
					<div style="height: 244px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 220px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 490px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="tournament_round">
				<div class="tournament_block" style="margin-top: 95px;">
					<div class="tournament_index">4강 1경기<br>(Bo5)</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/WBG.webp' %}"></div>
						<div class="tournament_team_name">Weibo Gaming Faw Audi</div>
						<div class="tournament_team_score">3</div>
					</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/BLG.webp' %}"></div>
						<div class="tournament_team_name">Bilibili Gaming Pingan Bank</div>
						<div class="tournament_team_score">2</div>
					</div>
				</div>
				<div class="tournament_block" style="margin-top: 296px;">
					<div class="tournament_index">4강 2경기<br>(Bo5)</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/JDG.webp' %}"></div>
						<div class="tournament_team_name">JDG Intel Esports Club</div>
						<div class="tournament_team_score">1</div>
					</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/T1.webp' %}"></div>
						<div class="tournament_team_name">T1</div>
						<div class="tournament_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 220px;"></div>
					<div style="height: 490px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 410px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="tournament_round">
				<div class="tournament_block" style="margin-top: 285px;">
					<div class="tournament_index">결승전<br>(Bo5)</div>
					<div class="tournament_team lose">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/WBG.webp' %}"></div>
						<div class="tournament_team_name">Weibo Gaming Faw Audi</div>
						<div class="tournament_team_score">0</div>
					</div>
					<div class="tournament_team win">
						<div class="tournament_team_img"><img src="{% static 'img/teams/2023/Worlds/T1.webp' %}"></div>
						<div class="tournament_team_name">T1</div>
						<div class="tournament_team_score">3</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
