h2 {
	padding: 0 20px;
	font-size: 36px; margin: 30px 0;
}

#schedule_block {
	width: 98%;
	margin: 50px auto;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}

#schedule_block #month_selection {
	display: flex;
	background: #1C192B;
	color: #DCDFE0;
}

#schedule_block #month_selection .month {
	flex: 1;
	font-size: 20px;
	padding: 10px;
	position: relative;
	opacity: 0.4;
}

#schedule_block #month_selection .activated {
	cursor: pointer;
	opacity: 1;
}

#schedule_block #month_selection .activated::after {
	content: "";
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 3px solid #DCDFE0;
	opacity: 0;
	transition: opacity 0.3s;
}

#schedule_block #month_selection .activated:hover::after {
	opacity: 1;
}

#schedule_block #month_selection .selected_month::after {
	opacity: 1;
}

#schedule_block .team_selection {
	display: none;
	border-bottom: #BDBDBD 1px solid;
	padding: 0 0 10px 0;
}

#schedule_block .team_selection .team {
	flex-basis: 110px;
}

#schedule_block .team_selection .team button {
	border: 0;
	background: none;
	cursor: pointer;
}

#schedule_block .team_selection .team img {
	width: 50px;
	padding: 5px;
	opacity: 0.4;
}

#schedule_block .team_selection .team .all {
	opacity: 1;
}

#schedule_block #schedules {
	display: flex;
	flex-direction: column;
}

#schedule_block #schedules .schedule {
	display: none;
	padding: 5px 0;
	align-items: center;
}

#schedule_block #schedules .schedule .date {
	align-items: center;
	justify-content: center;
	width: 100px;
}

#schedule_block #schedules .schedule .time {
	align-items: center;
	justify-content: center;
	font-size: 14px;
	width: 120px;
}

#schedule_block #schedules .schedule .team {
	display: flex;
	flex: 1;
	overflow: hidden;
	align-items: center;
	width: 300px;
}

#schedule_block #schedules .schedule .team1 {
	justify-content: flex-end;
}

#schedule_block #schedules .schedule .team .team_name {
	width: 250px;
}

#schedule_block #schedules .schedule .team img {
	width: 50px;
}

#schedule_block #schedules .schedule .result {
	width: 100px;
	justify-content: center;
}


#schedule_block #schedules .schedule .etc {
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #AAAAAA;
	width: 220px;
}


