{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/LCK/12spring.css">
{% endblock %}

{% block history_content %}
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/LCK 2012 Spring/MiG_Blaze.webp' %}">
					<div id="winner_team_name">MiG Blaze</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">OnAir 강현종</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">Kezman 손대영</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/Top.webp' %}"><br>TOP</div>
					<div class="winner_player_name">FantasyStar 복한규</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Helios 신동진</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">Ambition 강찬용</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">Jack Sparrow 강형우</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">Lustboy 함장식</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="round16">
		<h2>16강</h2>
		<div id="round16_table">
			<div class="round16_round">
				<div class="round16_block" style="margin-bottom: 50px;">
					<div class="round16_index">A조 1경기</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Frost.webp' %}"></div>
						<div class="round16_team_name">MiG Frost</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/TBD.webp' %}"></div>
						<div class="round16_team_name">Little Hippo</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
				
				<div class="round16_block">
					<div class="round16_index">A조 2경기</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MKZ.webp' %}"></div>
						<div class="round16_team_name">MKZ</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/TBD.webp' %}"></div>
						<div class="round16_team_name">DDoL</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 103px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 173px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px; border-bottom: 2px solid #1C192B; border-left: 2px solid #1C192B"></div>
				</div>
			</div>
			<div class="round16_round" style="padding-top: 70px;">
				<div class="round16_block" style="margin-bottom: 50px;">
					<div class="round16_index">A조 승자전*</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Frost.webp' %}"></div>
						<div class="round16_team_name">MiG Frost</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MKZ.webp' %}"></div>
						<div class="round16_team_name">MKZ</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
				
				<div class="round16_block">
					<div class="round16_index">A조 패자전**</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/TBD.webp' %}"></div>
						<div class="round16_team_name">Little Hippo</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/TBD.webp' %}"></div>
						<div class="round16_team_name">DDoL</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 173px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 243px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px;"></div>
				</div>
			</div>
			
			<div class="round16_round" style="padding-top: 140px;">
				<div class="round16_block">
					<div class="round16_index">A조 최종전***</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MKZ.webp' %}"></div>
						<div class="round16_team_name">MKZ</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/TBD.webp' %}"></div>
						<div class="round16_team_name">Little Hippo</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="round16_table">
			<div class="round16_round">
				<div class="round16_block" style="margin-bottom: 50px;">
					<div class="round16_index">B조 1경기</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_XD.webp' %}"></div>
						<div class="round16_team_name">Team XD</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Never_ending_League_of_Legends.webp' %}"></div>
						<div class="round16_team_name">Never ending League of Legends</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
				
				<div class="round16_block">
					<div class="round16_index">B조 2경기</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Counter_Logic_Gaming.webp' %}"></div>
						<div class="round16_team_name">Counter Logic Gaming</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Xenics_Storm.webp' %}"></div>
						<div class="round16_team_name">Xenics Storm</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 103px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 173px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px; border-bottom: 2px solid #1C192B; border-left: 2px solid #1C192B"></div>
				</div>
			</div>
			<div class="round16_round" style="padding-top: 70px;">
				<div class="round16_block" style="margin-bottom: 50px;">
					<div class="round16_index">B조 승자전*</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Never_ending_League_of_Legends.webp' %}"></div>
						<div class="round16_team_name">Never ending League of Legends</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Xenics_Storm.webp' %}"></div>
						<div class="round16_team_name">Xenics Storm</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
				
				<div class="round16_block">
					<div class="round16_index">B조 패자전**</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_XD.webp' %}"></div>
						<div class="round16_team_name">Team XD</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Counter_Logic_Gaming.webp' %}"></div>
						<div class="round16_team_name">Counter Logic Gaming</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 173px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 243px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px;"></div>
				</div>
			</div>
			
			<div class="round16_round" style="padding-top: 140px;">
				<div class="round16_block">
					<div class="round16_index">B조 최종전***</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Never_ending_League_of_Legends.webp' %}"></div>
						<div class="round16_team_name">Never ending League of Legends</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Counter_Logic_Gaming.webp' %}"></div>
						<div class="round16_team_name">Counter Logic Gaming</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="round16_table">
			<div class="round16_round">
				<div class="round16_block" style="margin-bottom: 50px;">
					<div class="round16_index">C조 1경기</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_OP.webp' %}"></div>
						<div class="round16_team_name">Team OP</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/SuperStar.webp' %}"></div>
						<div class="round16_team_name">SuperStar</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
				
				<div class="round16_block">
					<div class="round16_index">C조 2경기</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/NaJin_e-mFire.webp' %}"></div>
						<div class="round16_team_name">NaJin e-mFire</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Noobs_Except_Balnemse.webp' %}"></div>
						<div class="round16_team_name">Noobs Except Balnemse</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 103px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 173px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px; border-bottom: 2px solid #1C192B; border-left: 2px solid #1C192B"></div>
				</div>
			</div>
			<div class="round16_round" style="padding-top: 70px;">
				<div class="round16_block" style="margin-bottom: 50px;">
					<div class="round16_index">C조 승자전*</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_OP.webp' %}"></div>
						<div class="round16_team_name">Team OP</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/NaJin_e-mFire.webp' %}"></div>
						<div class="round16_team_name">NaJin e-mFire</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
				
				<div class="round16_block">
					<div class="round16_index">C조 패자전**</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/SuperStar.webp' %}"></div>
						<div class="round16_team_name">SuperStar</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Noobs_Except_Balnemse.webp' %}"></div>
						<div class="round16_team_name">Noobs Except Balnemse</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 173px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 243px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px;"></div>
				</div>
			</div>
			
			<div class="round16_round" style="padding-top: 140px;">
				<div class="round16_block">
					<div class="round16_index">C조 최종전***</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/NaJin_e-mFire.webp' %}"></div>
						<div class="round16_team_name">NaJin e-mFire</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/SuperStar.webp' %}"></div>
						<div class="round16_team_name">SuperStar</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="round16_table">
			<div class="round16_round">
				<div class="round16_block" style="margin-bottom: 50px;">
					<div class="round16_index">D조 1경기</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_Hunters.webp' %}"></div>
						<div class="round16_team_name">Team Hunters</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Blaze.webp' %}"></div>
						<div class="round16_team_name">MiG Blaze</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
				
				<div class="round16_block">
					<div class="round16_index">D조 2경기</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Fnatic.webp' %}"></div>
						<div class="round16_team_name">Fnatic</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/StarTale.webp' %}"></div>
						<div class="round16_team_name">StarTale</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 103px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 173px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px; border-bottom: 2px solid #1C192B; border-left: 2px solid #1C192B"></div>
				</div>
			</div>
			<div class="round16_round" style="padding-top: 70px;">
				<div class="round16_block" style="margin-bottom: 50px;">
					<div class="round16_index">D조 승자전*</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Blaze.webp' %}"></div>
						<div class="round16_team_name">MiG Blaze</div>
						<div class="round16_team_score">1</div>
					</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/StarTale.webp' %}"></div>
						<div class="round16_team_name">StarTale</div>
						<div class="round16_team_score">0</div>
					</div>
				</div>
				
				<div class="round16_block">
					<div class="round16_index">D조 패자전**</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_Hunters.webp' %}"></div>
						<div class="round16_team_name">Team Hunters</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Fnatic.webp' %}"></div>
						<div class="round16_team_name">Fnatic</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 173px;"></div>
					<div style="height: 220px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 243px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 220px;"></div>
				</div>
			</div>
			
			<div class="round16_round" style="padding-top: 140px;">
				<div class="round16_block">
					<div class="round16_index">D조 최종전***</div>
					<div class="round16_team lose">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/StarTale.webp' %}"></div>
						<div class="round16_team_name">StarTale</div>
						<div class="round16_team_score">0</div>
					</div>
					<div class="round16_team win">
						<div class="round16_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Fnatic.webp' %}"></div>
						<div class="round16_team_name">Fnatic</div>
						<div class="round16_team_score">1</div>
					</div>
				</div>
			</div>
		</div>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element"><span style="font-weight: bolder;">승자전*</span> : 승리팀 8강 진출, 패배팀 최종전 진출</div>
				<div class="reference_element"><span style="font-weight: bolder;">패자전**</span> : 승리팀 최종전 진출, 패배팀 탈락</div>
				<div class="reference_element"><span style="font-weight: bolder;">최종전***</span> : 승리팀 8강 진출, 패배팀 탈락</div>
			</div>
		</div>
	</section>
	
	<section id="round8">
		<h2>8강 토너먼트</h2>
		<div id="round8_table">
			<div class="round8_round">
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 A조<br>(Bo3)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Frost.webp' %}"></div>
						<div class="round8_team_name">MiG Frost</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/NaJin_e-mFire.webp' %}"></div>
						<div class="round8_team_name">NaJin e-mFire</div>
						<div class="round8_team_score">1</div>
					</div>
				</div>
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 B조<br>(Bo3)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Xenics_Storm.webp' %}"></div>
						<div class="round8_team_name">Xenics Storm</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MKZ.webp' %}"></div>
						<div class="round8_team_name">MKZ</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 C조<br>(Bo3)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Blaze.webp' %}"></div>
						<div class="round8_team_name">MiG Blaze</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Counter_Logic_Gaming.webp' %}"></div>
						<div class="round8_team_name">Counter Logic Gaming</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
				<div class="round8_block">
					<div class="round8_index">8강 D조<br>(Bo3)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_OP.webp' %}"></div>
						<div class="round8_team_name">Team OP</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Fnatic.webp' %}"></div>
						<div class="round8_team_name">Fnatic</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 125px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
					<div style="height: 244px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 220px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 490px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="round8_round">
				<div class="round8_block" style="margin-top: 95px;">
					<div class="round8_index">4강 A조<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Xenics_Storm.webp' %}"></div>
						<div class="round8_team_name">Xenics Storm</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Frost.webp' %}"></div>
						<div class="round8_team_name">MiG Frost</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
				<div class="round8_block" style="margin-top: 296px;">
					<div class="round8_index">4강 B조<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_OP.webp' %}"></div>
						<div class="round8_team_name">Team OP</div>
						<div class="round8_team_score">1</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Blaze.webp' %}"></div>
						<div class="round8_team_name">MiG Blaze</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 220px;"></div>
					<div style="height: 490px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 410px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="round8_round">
				<div class="round8_block" style="margin-top: 285px;">
					<div class="round8_index">결승전<br>(Bo5)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Blaze.webp' %}"></div>
						<div class="round8_team_name">MiG Blaze</div>
						<div class="round8_team_score">3</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/MiG_Frost.webp' %}"></div>
						<div class="round8_team_name">MiG Frost</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
				<div class="round8_block" style="margin-top: 250px;">
					<div class="round8_index">3,4위전<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Team_OP.webp' %}"></div>
						<div class="round8_team_name">Team OP</div>
						<div class="round8_team_score">1</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/LCK 2012 Spring/Xenics_Storm.webp' %}"></div>
						<div class="round8_team_name">Xenics Storm</div>
						<div class="round8_team_score">2</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
