{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/LCK/23spring-23summer.css">
{% endblock %}

{% block history_content %}
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/LCK 2024 Spring/GEN.webp' %}">
					<div id="winner_team_name">젠지</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">KIM 김정수</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">Helper 권영재</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/TOP.webp' %}"><br>TOP</div>
					<div class="winner_player_name">Kiin 김기인</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Canyon 김건부</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">Chovy 정지훈</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">Peyz 김수환</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">Lehends 손시우</div>
					<div class="winner_player_name">Mata 조세형</div>
				</div>
			</div>
			<div id="award_player">
				<div class="award_player player_of_the_split">
					<div class="awrd_player_index">Player of the Split</div>
					<div class="awrd_player_name">Chovy 정지훈</div>
				</div>
				<div class="award_player regular_MVP">
					<div class="awrd_player_index">정규시즌 MVP</div>
					<div class="awrd_player_name">Chovy 정지훈</div>
				</div>
				<div class="award_player final_MVP">
					<div class="awrd_player_index">파이널 MVP</div>
					<div class="awrd_player_name">Kiin 김기인</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="regular_season">
		<h2>정규시즌</h2>
		<table id="regular_season_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>세트 득실</th><th>득실차</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/GEN.webp' %}"></td>
				<td>젠지</td>
				<td>17</td>
				<td>1</td>
				<td>34승 5패</td>
				<td>+29</td>
				<td>우승</td>
			</tr>
			<tr>
				<td style="background-color: #aaddff;">2</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/T1.webp' %}"></td>
				<td>T1</td>
				<td>15</td>
				<td>3</td>
				<td>32승 8패</td>
				<td>+24</td>
				<td>준우승</td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">3</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/HLE.webp' %}"></td>
				<td>한화생명e스포츠</td>
				<td>15</td>
				<td>3</td>
				<td>30승 11패</td>
				<td>+19</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">4</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/KT.webp' %}"></td>
				<td>KT 롤스터</td>
				<td>11</td>
				<td>7</td>
				<td>26승 18패</td>
				<td>+8</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">5</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/DK.webp' %}"></td>
				<td>디플러스 기아</td>
				<td>9</td>
				<td>9</td>
				<td>21승 21패</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">6</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/KDF.webp' %}"></td>
				<td>광동 프릭스</td>
				<td>7</td>
				<td>11</td>
				<td>18승 25패</td>
				<td>-7</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">7</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/FOX.webp' %}"></td>
				<td>피어엑스</td>
				<td>6</td>
				<td>12</td>
				<td>16승 27패</td>
				<td>-11</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">8</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/NS.webp' %}"></td>
				<td>농심 레드포스</td>
				<td>4</td>
				<td>14</td>
				<td>14승 30패</td>
				<td>-16</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">9</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/DRX.webp' %}"></td>
				<td>DRX</td>
				<td>3</td>
				<td>15</td>
				<td>11승 32패</td>
				<td>-21</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">10</td>
				<td><img src="{% static 'img/teams/LCK 2024 Spring/BRO.webp' %}"></td>
				<td>OK저축은행 브리온</td>
				<td>3</td>
				<td>15</td>
				<td>8승 33패</td>
				<td>-25</td>
				<td> - </td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : PO 2라운드 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : PO 1라운드 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #FFFF99"></div><span class="reference_letter"> : PO 진출 실패 &nbsp;</span>
				</div>
			</div>
		</div>
	</section>
	
	<section id="post_season">
		<h2>포스트시즌</h2>
		<div id="post_season_table">
			<div class="post_season_round">
				<div class="post_season_block" style="margin-bottom: 50px;">
					<div class="post_season_index">PO 1라운드 1경기*<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/HLE.webp' %}"></div>
						<div class="post_season_team_name">HLE</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/KDF.webp' %}"></div>
						<div class="post_season_team_name">KDF</div>
						<div class="post_season_team_score">0</div>
					</div>
				</div>
			
				<div class="post_season_block">
					<div class="post_season_index">PO 1라운드 2경기<br>(Bo5)</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/KT.webp' %}"></div>
						<div class="post_season_team_name">KT</div>
						<div class="post_season_team_score">2</div>
					</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/DK.webp' %}"></div>
						<div class="post_season_team_name">DK</div>
						<div class="post_season_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="post_season_round">
				<div class="post_season_block" style="margin-bottom: 50px;">
					<div class="post_season_index">PO 2라운드 1경기**<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/GEN.webp' %}"></div>
						<div class="post_season_team_name">GEN</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/DK.webp' %}"></div>
						<div class="post_season_team_name">DK</div>
						<div class="post_season_team_score">2</div>
					</div>
				</div>
				
				<div class="post_season_block">
					<div class="post_season_index">PO 2라운드 2경기<br>(Bo5)</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/T1.webp' %}"></div>
						<div class="post_season_team_name">T1</div>
						<div class="post_season_team_score">0</div>
					</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/HLE.webp' %}"></div>
						<div class="post_season_team_name">HLE</div>
						<div class="post_season_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="post_season_round">
				<div class="post_season_block" style="margin-bottom: 50px;">
					<div class="post_season_index">승자조 경기<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/GEN.webp' %}"></div>
						<div class="post_season_team_name">GEN</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/HLE.webp' %}"></div>
						<div class="post_season_team_name">HLE</div>
						<div class="post_season_team_score">1</div>
					</div>
				</div>
				
				<div class="post_season_block">
					<div class="post_season_index">패자조 경기<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/T1.webp' %}"></div>
						<div class="post_season_team_name">T1</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/DK.webp' %}"></div>
						<div class="post_season_team_name">DK</div>
						<div class="post_season_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="post_season_round">
				<div style="height: 116px; border-bottom: 2px solid #1C192B;">
					
				</div>
				<div class="post_season_block" style="margin-top: 100px;">
					<div class="post_season_index">최종 결승 진출전<br>(Bo5)</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/HLE.webp' %}"></div>
						<div class="post_season_team_name">HLE</div>
						<div class="post_season_team_score">1</div>
					</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/T1.webp' %}"></div>
						<div class="post_season_team_name">T1</div>
						<div class="post_season_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 216px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="post_season_round">
				<div class="post_season_block" style="margin-top: 100px;">
					<div class="post_season_index">파이널<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/GEN.webp' %}"></div>
						<div class="post_season_team_name">GEN</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2024 Spring/T1.webp' %}"></div>
						<div class="post_season_team_name">T1</div>
						<div class="post_season_team_score">2</div>
					</div>
				</div>
			</div>
		</div>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_letter"><span style="font-weight: bolder;">PO 1라운드*</span> : HLE(정규리그 3위팀)이 KDF(정규리그 6위팀)선택</div>
				<div class="reference_element reference_element_type_letter"><span style="font-weight: bolder;">PO 2라운드**</span> : GEN(정규리그 1위팀)이 DK(정규리그 3위팀)선택</div>
			</div>
		</div>
	</section>

	<section id="POG">
		<h2>Player of the Game 포인트</h2>
		<table id="POG_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 100px;">
				<col style="width: 200px;">
				<col style="">
				<col style="">
				<col style="width: 150px;">
				<col style="width: 100px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th colspan="2">선수</th><th>포인트</th><th>포지션</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/GEN.webp' %}"></td>
				<td>젠지</td>
				<td>Chovy</td>
				<td>정지훈</td>
				<td>1300</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>2</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/T1.webp' %}"></td>
				<td>T1</td>
				<td>Faker</td>
				<td>이상혁</td>
				<td>1100</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>3</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/GEN.webp' %}"></td>
				<td>젠지</td>
				<td>Canyon</td>
				<td>김건부</td>
				<td>1000</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>3</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/HLE.webp' %}"></td>
				<td>한화생명e스포츠</td>
				<td>Zeka</td>
				<td>김건우</td>
				<td>1000</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>5</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/KT.webp' %}"></td>
				<td>KT 롤스터</td>
				<td>Pyosik</td>
				<td>홍창현</td>
				<td>900</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>6</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/HLE.webp' %}"></td>
				<td>한화생명e스포츠</td>
				<td>Peanut</td>
				<td>한왕호</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>6</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/DK.webp' %}"></td>
				<td>디플러스 기아</td>
				<td>ShowMaker</td>
				<td>허수</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>8</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/KDF.webp' %}"></td>
				<td>광동 프릭스</td>
				<td>Cuzz</td>
				<td>문우찬</td>
				<td>600</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>8</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/T1.webp' %}"></td>
				<td>T1</td>
				<td>Keria</td>
				<td>류민석</td>
				<td>600</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Support_black.webp' %}"></td>
			</tr>
			<tr>
				<td>8</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2024 Spring/T1.webp' %}"></td>
				<td>T1</td>
				<td>Oner</td>
				<td>문현준</td>
				<td>600</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : Player of the Split</span>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
