{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/LCK/12summer-14summer.css">
{% endblock %}

{% block history_content %}
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/2012/LCK Summer/Azubu_Frost.webp' %}">
					<div id="winner_team_name">Azubu Frost</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">OnAir 강현종</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">Kezman 손대영</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/Top.webp' %}"><br>TOP</div>
					<div class="winner_player_name">Shy 박상면</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Templar 이현우</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">Rapidstar 정민성</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">Woong 장건웅</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">MadLife 홍민기</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="round16">
		<h2>16강</h2>
		
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col style="width: 350px;">
			</colgroup>
			<tr>
				<th colspan="6">A조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/Azubu_Blaze.webp' %}"></td>
				<td>Azubu Blaze</td>
				<td>3</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">2</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/Team_WE.webp' %}"></td>
				<td>Team WE</td>
				<td>2</td>
				<td>1</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">3</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/NaJin_Shield.webp' %}"></td>
				<td>NaJin Shield</td>
				<td>1</td>
				<td>2</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">4</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/GJR.webp' %}"></td>
				<td>GJR</td>
				<td>0</td>
				<td>3</td>
				<td> - </td>
			</tr>
		</table>
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col style="width: 350px;">
			</colgroup>
			<tr>
				<th colspan="6">B조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/Azubu_Frost.webp' %}"></td>
				<td>Azubu Frost</td>
				<td>2</td>
				<td>1</td>
				<td>vs NaJin Sword<br>상대승 우세</td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">2</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/NaJin_Sword.webp' %}"></td>
				<td>NaJin Sword</td>
				<td>2</td>
				<td>1</td>
				<td>vs Azubu Frost<br>상대승 열세</td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">3</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/Team_Dignitas.webp' %}"></td>
				<td>Team Dignitas</td>
				<td>1</td>
				<td>2</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">4</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/RoMg.webp' %}"></td>
				<td>RoMg</td>
				<td>1</td>
				<td>2</td>
				<td> - </td>
			</tr>
		</table>
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col style="width: 350px;">
			</colgroup>
			<tr>
				<th colspan="6">C조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/StarTale.webp' %}"></td>
				<td>StarTale</td>
				<td>3</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">2</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/Xenics_Storm.webp' %}"></td>
				<td>Xenics Storm</td>
				<td>2</td>
				<td>1</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">3</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/Natus_Vincere.webp' %}"></td>
				<td>Natus Vincere</td>
				<td>1</td>
				<td>2</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">4</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/CJ_Entus.webp' %}"></td>
				<td>CJ Entus</td>
				<td>0</td>
				<td>3</td>
				<td> - </td>
			</tr>
		</table>
		<table class="round16_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
				<col>
				<col>
				<col style="width: 350px;">
			</colgroup>
			<tr>
				<th colspan="6">D조</th>
			</tr>
			<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/CLG_Europe.webp' %}"></td>
				<td>Counter Logic Gaming Europe</td>
				<td>3</td>
				<td>0</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">2</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/CLG_Prime.webp' %}"></td>
				<td>Counter Logic Gaming Prime</td>
				<td>2</td>
				<td>1</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">3</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/LG-Incredible_Miracle.webp' %}"></td>
				<td>LG-Incredible Miracle</td>
				<td>1</td>
				<td>2</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">4</td>
				<td><img src="{% static 'img/teams/2012/LCK Summer/MVP_Blue.webp' %}"></td>
				<td>MVP Blue</td>
				<td>0</td>
				<td>3</td>
				<td> - </td>
			</tr>
		</table>
		
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : 8강 진출 (1시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : 8강 진출 (2시드) &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ffcccc"></div><span class="reference_letter"> : 탈락 &nbsp;</span>
				</div>
			</div>
		</div>
	</section>
	
	<section id="round8">
		<h2>8강 토너먼트</h2>
		<div id="round8_table">
			<div class="round8_round">
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 A조<br>(Bo3)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/StarTale.webp' %}"></div>
						<div class="round8_team_name">StarTale</div>
						<div class="round8_team_score">0</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/NaJin_Sword.webp' %}"></div>
						<div class="round8_team_name">NaJin Sword</div>
						<div class="round8_team_score">2</div>
					</div>
				</div>
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 B조<br>(Bo3)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/CLG_Europe.webp' %}"></div>
						<div class="round8_team_name">CLG.EU</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/Team_WE.webp' %}"></div>
						<div class="round8_team_name">Team WE</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
				<div class="round8_block" style="margin-bottom: 50px;">
					<div class="round8_index">8강 C조<br>(Bo3)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/Azubu_Blaze.webp' %}"></div>
						<div class="round8_team_name">Azubu Blaze</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/Xenics_Storm.webp' %}"></div>
						<div class="round8_team_name">Xenics Storm</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
				<div class="round8_block">
					<div class="round8_index">8강 D조<br>(Bo3)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/Azubu_Frost.webp' %}"></div>
						<div class="round8_team_name">Azubu Frost</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/CLG_Prime.webp' %}"></div>
						<div class="round8_team_name">CLG.NA</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 125px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
					<div style="height: 244px;"></div>
					<div style="height: 244px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 220px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 490px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="round8_round">
				<div class="round8_block" style="margin-top: 95px;">
					<div class="round8_index">4강 B조<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/NaJin_Sword.webp' %}"></div>
						<div class="round8_team_name">NaJin Sword</div>
						<div class="round8_team_score">1</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/CLG_Europe.webp' %}"></div>
						<div class="round8_team_name">CLG.EU</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
				<div class="round8_block" style="margin-top: 296px;">
					<div class="round8_index">4강 A조<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/Azubu_Blaze.webp' %}"></div>
						<div class="round8_team_name">Azubu Blaze</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/Azubu_Frost.webp' %}"></div>
						<div class="round8_team_name">Azubu Frost</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 220px;"></div>
					<div style="height: 490px; border-top: 2px solid #1C192B; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 410px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="round8_round">
				<div class="round8_block" style="margin-top: 285px;">
					<div class="round8_index">결승전<br>(Bo5)</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/CLG_Europe.webp' %}"></div>
						<div class="round8_team_name">CLG.EU</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/Azubu_Frost.webp' %}"></div>
						<div class="round8_team_name">Azubu Frost</div>
						<div class="round8_team_score">3</div>
					</div>
				</div>
				<div class="round8_block" style="margin-top: 250px;">
					<div class="round8_index">3,4위전<br>(Bo3)</div>
					<div class="round8_team win">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/NaJin_Sword.webp' %}"></div>
						<div class="round8_team_name">NaJin Sword</div>
						<div class="round8_team_score">2</div>
					</div>
					<div class="round8_team lose">
						<div class="round8_team_img"><img src="{% static 'img/teams/2012/LCK Summer/Azubu_Blaze.webp' %}"></div>
						<div class="round8_team_name">Azubu Blaze</div>
						<div class="round8_team_score">0</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
