{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/LCK/15summer-20summer.css">
{% endblock %}

{% block history_content %}
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/LCK 2016 Summer/ROX.webp' %}">
					<div id="winner_team_name">ROX Tigers</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">NoFe 정노철</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">SSONG 김상수</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/Top.webp' %}"><br>TOP</div>
					<div class="winner_player_name">Smeb 송경호</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/Jungle.webp' %}"><br>JG</div>
					<div class="winner_player_name">Peanut 한왕호</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/Mid.webp' %}"><br>MID</div>
					<div class="winner_player_name">Kuro 이서행</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/Bot.webp' %}"><br>AD</div>
					<div class="winner_player_name">PraY 김종인</div>
					<div class="winner_player_name">Cry 해성민</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/Support.webp' %}"><br>SUP</div>
					<div class="winner_player_name">GorillA 강범현</div>
				</div>
			</div>
			<div id="award_player">
				<div class="award_player regular_MVP">
					<div class="awrd_player_index">정규시즌 MVP</div>
					<div class="awrd_player_name">Smeb 송경호</div>
				</div>
				<div class="award_player final_MVP">
					<div class="awrd_player_index">포스트시즌 MVP</div>
					<div class="awrd_player_name">Kuro 이서행</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="regular_season">
		<h2>정규시즌</h2>
		<table id="regular_season_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>세트 득실</th><th>득실차</th><th>기타</th>
			<tr>
				<td style="background-color: #eeccee;">1</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/ROX.webp' %}"></td>
				<td>ROX Tigers</td>
				<td>15</td>
				<td>3</td>
				<td>30승 10패</td>
				<td>+20</td>
				<td>우승</td>
			</tr>
			<tr>
				<td style="background-color: #aaddff;">2</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/SKT.webp' %}"></td>
				<td>SK telecom T1</td>
				<td>13</td>
				<td>5</td>
				<td>28승 13패</td>
				<td>+15</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">3</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/kt.webp' %}"></td>
				<td>kt Rolster</td>
				<td>13</td>
				<td>5</td>
				<td>29승 15패</td>
				<td>+14</td>
				<td>준우승</td>
			</tr>
			<tr>
				<td style="background-color: #ccffcc;">4</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/SSG.webp' %}"></td>
				<td>Samsung Galaxy</td>
				<td>12</td>
				<td>6</td>
				<td>24승 16패</td>
				<td>+8</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ccffcc;">5</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/AFs.webp' %}"></td>
				<td>Afreeca Freecs</td>
				<td>8</td>
				<td>10</td>
				<td>20승 23패</td>
				<td>-3</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">6</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/MVP.webp' %}"></td>
				<td>MVP</td>
				<td>7</td>
				<td>11</td>
				<td>18승 23패</td>
				<td>-5</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">7</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/JAG.webp' %}"></td>
				<td>Jin Air Greenwings</td>
				<td>7</td>
				<td>11</td>
				<td>19승 26패</td>
				<td>-8</td>
				<td>경기 중 탈주로 1세트 차감</td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">8</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/LZ.webp' %}"></td>
				<td>Longzhu Gaming</td>
				<td>7</td>
				<td>11</td>
				<td>16승 25패</td>
				<td>-9</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">9</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/ESC.webp' %}"></td>
				<td>ESC Ever</td>
				<td>5</td>
				<td>13</td>
				<td>16승 29패</td>
				<td>-13</td>
				<td>잔류</td>
			</tr>
			<tr>
				<td style="background-color: #ffcccc;">10</td>
				<td><img src="{% static 'img/teams/LCK 2016 Summer/CJ.webp' %}"></td>
				<td>CJ Entus</td>
				<td>3</td>
				<td>15</td>
				<td>12승 32패</td>
				<td>-20</td>
				<td>강등</td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #eeccee"></div><span class="reference_letter"> : 결승전 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : PO 2라운드 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : PO 1라운드 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ccffcc"></div><span class="reference_letter"> : 와일드카드전 진출 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #FFFF99"></div><span class="reference_letter"> : 잔류 &nbsp;</span>
				</div>
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #ffcccc"></div><span class="reference_letter"> : 승강전 &nbsp;</span>
				</div>
			</div>
		</div>
	</section>
	
	<section id="post_season">
		<h2>포스트시즌</h2>
		<div id="post_season_table">
			<div class="post_season_block">
				<div class="post_season_index">와일드카드<br>(Bo3)</div>
				
				<div class="post_season_team win">
					<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2016 Summer/SSG.webp' %}"></div>
					<div class="post_season_team_name">SSG</div>
					<div class="post_season_team_score">2</div>
				</div>
				<div class="post_season_team lose">
					<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2016 Summer/AFs.webp' %}"></div>
					<div class="post_season_team_name">AFs</div>
					<div class="post_season_team_score">0</div>
				</div>
			</div>
			<div class="post_season_arrow">></div>
			<div class="post_season_block">
				<div class="post_season_index">플레이오프 1R<br>(Bo5)</div>
				
				<div class="post_season_team win">
					<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2016 Summer/kt.webp' %}"></div>
					<div class="post_season_team_name">kt</div>
					<div class="post_season_team_score">3</div>
				</div>
				<div class="post_season_team lose">
					<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2016 Summer/SSG.webp' %}"></div>
					<div class="post_season_team_name">SSG</div>
					<div class="post_season_team_score">0</div>
				</div>
			</div>
			<div class="post_season_arrow">></div>
			<div class="post_season_block">
				<div class="post_season_index">플레이오프 2R<br>(Bo5)</div>
				
				<div class="post_season_team lose">
					<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2016 Summer/SKT.webp' %}"></div>
					<div class="post_season_team_name">SKT</div>
					<div class="post_season_team_score">2</div>
				</div>
				<div class="post_season_team win">
					<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2016 Summer/kt.webp' %}"></div>
					<div class="post_season_team_name">kt</div>
					<div class="post_season_team_score">3</div>
				</div>
			</div>
			<div class="post_season_arrow">></div>
			<div class="post_season_block">
				<div class="post_season_index">파이널<br>(Bo5)</div>
				
				<div class="post_season_team win">
					<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2016 Summer/ROX.webp' %}"></div>
					<div class="post_season_team_name">ROX</div>
					<div class="post_season_team_score">3</div>
				</div>
				<div class="post_season_team lose">
					<div class="post_season_team_img"><img src="{% static 'img/teams/LCK 2016 Summer/kt.webp' %}"></div>
					<div class="post_season_team_name">kt</div>
					<div class="post_season_team_score">2</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="POG">
		<h2>정규시즌 MVP</h2>
		<table id="POG_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 100px;">
				<col style="width: 200px;">
				<col style="">
				<col style="">
				<col style="width: 150px;">
				<col style="width: 100px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th colspan="2">선수</th><th>포인트</th><th>포지션</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/ROX.webp' %}"></td>
				<td>ROX Tigers</td>
				<td>Smeb</td>
				<td>송경호</td>
				<td>1200</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Top_black.webp' %}"></td>
			</tr>
			<tr>
				<td>2</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/kt.webp' %}"></td>
				<td>kt Rolster</td>
				<td>Ssumday</td>
				<td>김찬호</td>
				<td>1100</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Top_black.webp' %}"></td>
			</tr>
			<tr>
				<td>3</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/ROX.webp' %}"></td>
				<td>ROX Tigers</td>
				<td>Peanut</td>
				<td>한왕호</td>
				<td>900</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>4</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/kt.webp' %}"></td>
				<td>kt Rolster</td>
				<td>Score</td>
				<td>고동빈</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>4</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/SKT.webp' %}"></td>
				<td>SK telecom T1</td>
				<td>Faker</td>
				<td>이상혁</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>4</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/SKT.webp' %}"></td>
				<td>SK telecom T1</td>
				<td>Bang</td>
				<td>배준식</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Bot_black.webp' %}"></td>
			</tr>
			<tr>
				<td>4</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/MVP.webp' %}"></td>
				<td>MVP</td>
				<td>Beyond</td>
				<td>김규석</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
			<tr>
				<td>4</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/JAG.webp' %}"></td>
				<td>Jin Air GreenWings</td>
				<td>Kuzan</td>
				<td>이성혁</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>9</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/SSG.webp' %}"></td>
				<td>Samsung Galaxy</td>
				<td>Crown</td>
				<td>이민호</td>
				<td>700</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Mid_black.webp' %}"></td>
			</tr>
			<tr>
				<td>10</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/LCK 2016 Summer/LZ.webp' %}"></td>
				<td>Longzhu Gaming</td>
				<td>Crash</td>
				<td>이동우</td>
				<td>600</td>
				<td><img class="POG_position_img" src="{% static 'img/position/Jungle_black.webp' %}"></td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_border">
				<div class="reference_element reference_element_type_color">
					<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : 정규시즌 MVP</span>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
