{% extends "history_base.html" %}
{% load static %}

{% block css_head %}
	<link rel="stylesheet" type="text/css" href="static/history/css/summer/22.css">
{% endblock %}

{% block history_content %}
	
	<section id="result">
		<h2>결과</h2>
		<div id="result_table">
			<div id="winner_team">
				<div id="winner_team_index">
					우승팀
				</div>
				<div id="winner_team_content">
					<img src="{% static 'img/teams/2022summer/GEN.webp' %}">
					<div id="winner_team_name">GEN.G</div>
				</div>
			</div>
			<div id="winner_coach">
				<div class="coach">
					<div class="coach_index">감독</div>
					<div class="coach_name">Score 고동빈</div>
				</div>
				<div class="coach">
					<div class="coach_index">코치</div>
					<div class="coach_name">Mafa 원상연 , Museong 김무성 , J 이장희</div>
				</div>
			</div>
			<div id="winner_player">
				<div class="winner_player">
					<div class="winner_player_index top"><img src="{% static 'img/position/TOP.webp' %}"><br>TOP</div>
					<div class="winner_player_name">Doran 최현준</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index jg"><img src="{% static 'img/position/JG.webp' %}"><br>JG</div>
					<div class="winner_player_name">Peanut 한왕호</div>
					<div class="winner_player_name">YoungJae 고영재</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index mid"><img src="{% static 'img/position/MID.webp' %}"><br>MID</div>
					<div class="winner_player_name">Chovy 정지훈</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index AD"><img src="{% static 'img/position/AD.webp' %}"><br>AD</div>
					<div class="winner_player_name">Ruler 박재혁</div>
				</div>
				<div class="winner_player">
					<div class="winner_player_index sup"><img src="{% static 'img/position/SUP.webp' %}"><br>SUP</div>
					<div class="winner_player_name">Lehends 손시우</div>
				</div>
			</div>
			<div id="award_player">
				<div class="award_player player_of_the_split">
					<div class="awrd_player_index">Player of the Split</div>
					<div class="awrd_player_name">Ruler 박재혁</div>
					<div class="awrd_player_name">Prince 이채환</div>
				</div>
				<div class="award_player regular_MVP">
					<div class="awrd_player_index">정규시즌 MVP</div>
					<div class="awrd_player_name">Ruler 박재혁</div>
				</div>
				<div class="award_player final_MVP">
					<div class="awrd_player_index">파이널 MVP</div>
					<div class="awrd_player_name">Peanut 한왕호</div>
				</div>
			</div>
		</div>
	</section>

	<section id="regular_season">
		<h2>정규시즌</h2>
		<table id="regular_season_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 150px;">
				<col style="width: 250px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th>승</th><th>패</th><th>세트 득실</th><th>득실차</th><th>기타</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img src="{% static 'img/teams/2022summer/GEN.webp' %}"></td>
				<td>Gen.G</td>
				<td>17</td>
				<td>1</td>
				<td>35승 5패</td>
				<td>+30</td>
				<td>우승</td>
			</tr>
			<tr>
				<td style="background-color: #aaddff;">2</td>
				<td><img src="{% static 'img/teams/2022summer/T1.webp' %}"></td>
				<td>T1</td>
				<td>15</td>
				<td>3</td>
				<td>31승 13패</td>
				<td>+18</td>
				<td>준우승</td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">3</td>
				<td><img src="{% static 'img/teams/2022summer/LSB.webp' %}"></td>
				<td>Liiv SANDBOX</td>
				<td>13</td>
				<td>5</td>
				<td>27승 14패</td>
				<td>+13</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">4</td>
				<td><img src="{% static 'img/teams/2022summer/DK.webp' %}"></td>
				<td>DWG KIA</td>
				<td>10</td>
				<td>8</td>
				<td>24승 17패</td>
				<td>+7</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">5</td>
				<td><img src="{% static 'img/teams/2022summer/KT.webp' %}"></td>
				<td>kt Rolster</td>
				<td>10</td>
				<td>8</td>
				<td>25승 20패</td>
				<td>+5</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #97ECAB;">6</td>
				<td><img src="{% static 'img/teams/2022summer/DRX.webp' %}"></td>
				<td>DRX</td>
				<td>9</td>
				<td>9</td>
				<td>22승 23패</td>
				<td>-1</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">7</td>
				<td><img src="{% static 'img/teams/2022summer/KDF.webp' %}"></td>
				<td>KWANGDONG FREECS</td>
				<td>6</td>
				<td>12</td>
				<td>13승 29패</td>
				<td>-16</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">8</td>
				<td><img src="{% static 'img/teams/2022summer/NS.webp' %}"></td>
				<td>NongShim RedForce</td>
				<td>5</td>
				<td>13</td>
				<td>14승 28패</td>
				<td>-14</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">9</td>
				<td><img src="{% static 'img/teams/2022summer/BRO.webp' %}"></td>
				<td>Fredit BRION</td>
				<td>3</td>
				<td>15</td>
				<td>11승 31패</td>
				<td>-20</td>
				<td> - </td>
			</tr>
			<tr>
				<td style="background-color: #FFFF99;">10</td>
				<td><img src="{% static 'img/teams/2022summer/HLE.webp' %}"></td>
				<td>Hanwha Life Esports</td>
				<td>2</td>
				<td>16</td>
				<td>12승 34패</td>
				<td>-22</td>
				<td> - </td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_element">
				<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : PO 2라운드 진출 &nbsp;</span>
			</div>
			<div class="reference_element">
				<div class="reference_color" style="background-color: #97ECAB"></div><span class="reference_letter"> : PO 1라운드 진출 &nbsp;</span>
			</div>
			<div class="reference_element">
				<div class="reference_color" style="background-color: #FFFF99"></div><span class="reference_letter"> : PO 진출 실패 &nbsp;</span>
			</div>
		</div>
	</section>

	<section id="post_season">
		<h2>포스트시즌</h2>
		<div id="post_season_table">
			<div class="post_season_round">
				<div class="post_season_block" style="margin-bottom: 50px;">
					<div class="post_season_index">PO 1라운드 1경기<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/LSB.webp' %}"></div>
						<div class="post_season_team_name">LSB</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/DRX.webp' %}"></div>
						<div class="post_season_team_name">DRX</div>
						<div class="post_season_team_score">1</div>
					</div>
				</div>
			
				<div class="post_season_block">
					<div class="post_season_index">PO 1라운드 2경기<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/DK.webp' %}"></div>
						<div class="post_season_team_name">DK</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/KT.webp' %}"></div>
						<div class="post_season_team_name">KT</div>
						<div class="post_season_team_score">2</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="post_season_round">
				<div class="post_season_block" style="margin-bottom: 50px;">
					<div class="post_season_index">PO 2라운드 1경기*<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/GEN.webp' %}"></div>
						<div class="post_season_team_name">GEN</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/LSB.webp' %}"></div>
						<div class="post_season_team_name">LSB</div>
						<div class="post_season_team_score">1</div>
					</div>
				</div>
				
				<div class="post_season_block">
					<div class="post_season_index">PO 2라운드 2경기<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/T1.webp' %}"></div>
						<div class="post_season_team_name">T1</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/DK.webp' %}"></div>
						<div class="post_season_team_name">DK</div>
						<div class="post_season_team_score">2</div>
					</div>
				</div>
			</div>
			<div class="blanc">
				<div class="blanc1">
					<div style="height: 116px; border-bottom: 2px solid #1C192B;"></div>
					<div style="height: 228px; border-bottom: 2px solid #1C192B; border-right: 2px solid #1C192B"></div>
				</div>
				<div class="blanc1">
					<div style="height: 216px; border-bottom: 2px solid #1C192B;"></div>
				</div>
			</div>
			<div class="post_season_round">
				<div class="post_season_block" style="margin-top: 100px;">
					<div class="post_season_index">파이널<br>(Bo5)</div>
					<div class="post_season_team win">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/GEN.webp' %}"></div>
						<div class="post_season_team_name">GEN</div>
						<div class="post_season_team_score">3</div>
					</div>
					<div class="post_season_team lose">
						<div class="post_season_team_img"><img src="{% static 'img/teams/2022spring/T1.webp' %}"></div>
						<div class="post_season_team_name">T1</div>
						<div class="post_season_team_score">0</div>
					</div>
				</div>
			</div>
		</div>
		<div class="post_season_reference">
			<div class="reference_element"><span style="font-weight: bolder;">PO 2라운드*</span> : GEN(정규리그 1위팀)이 LSB(정규리그 3위팀)선택</div>
		</div>
	</section>

	<section id="POG">
		<h2>Player of the Game 포인트</h2>
		<table id="POG_table">
			<colgroup>
				<col style="width: 100px;">
				<col style="width: 100px;">
				<col style="width: 200px;">
				<col style="">
				<col style="">
				<col style="width: 150px;">
				<col style="width: 100px;">
			</colgroup>
			<th>순위</th><th colspan="2">팀</th><th colspan="2">선수</th><th>포인트</th><th>포지션</th>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/GEN.webp' %}"></td>
				<td>Gen.G</td>
				<td>Ruler</td>
				<td>박재혁</td>
				<td>1200</td>
				<td><img class="POG_position_img" src="{% static 'img/position/AD_black.webp' %}"></td>
			</tr>
			<tr>
				<td style="background-color: #aaddff;">1</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/LSB.webp' %}"></td>
				<td>Liiv SANDBOX</td>
				<td>Prince</td>
				<td>이채환</td>
				<td>1200</td>
				<td><img class="POG_position_img" src="{% static 'img/position/AD_black.webp' %}"></td>
			</tr>
			<tr>
				<td>3</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/T1.webp' %}"></td>
				<td>T1</td>
				<td>Zeus</td>
				<td>최우제</td>
				<td>1100</td>
				<td><img class="POG_position_img" src="{% static 'img/position/TOP_black.webp' %}"></td>
			</tr>
			<tr>
				<td>4</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/KT.webp' %}"></td>
				<td>kt Rolster</td>
				<td>Aiming</td>
				<td>김하람</td>
				<td>1000</td>
				<td><img class="POG_position_img" src="{% static 'img/position/AD_black.webp' %}"></td>
			</tr>
			<tr>
				<td>5</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/DRX.webp' %}"></td>
				<td>DRX</td>
				<td>Zeka</td>
				<td>김건우</td>
				<td>900</td>
				<td><img class="POG_position_img" src="{% static 'img/position/MID_black.webp' %}"></td>
			</tr>
			<tr>
				<td>6</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/GEN.webp' %}"></td>
				<td>Gen.G</td>
				<td>Peanut</td>
				<td>한왕호</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/JG_black.webp' %}"></td>
			</tr>
			<tr>
				<td>6</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/GEN.webp' %}"></td>
				<td>Gen.G</td>
				<td>Chovy</td>
				<td>정지훈</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/MID_black.webp' %}"></td>
			</tr>
			<tr>
				<td>6</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/DK.webp' %}"></td>
				<td>DWG KIA</td>
				<td>ShowMaker</td>
				<td>허수</td>
				<td>800</td>
				<td><img class="POG_position_img" src="{% static 'img/position/MID_black.webp' %}"></td>
			</tr>
			<tr>
				<td>9</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/T1.webp' %}"></td>
				<td>T1</td>
				<td>Faker</td>
				<td>이상혁</td>
				<td>700</td>
				<td><img class="POG_position_img" src="{% static 'img/position/MID_black.webp' %}"></td>
			</tr>
			<tr>
				<td>9</td>
				<td><img class="POG_team_img" src="{% static 'img/teams/2022spring/LSB.webp' %}"></td>
				<td>Liiv SANDBOX</td>
				<td>Croco</td>
				<td>김동범</td>
				<td>700</td>
				<td><img class="POG_position_img" src="{% static 'img/position/JG_black.webp' %}"></td>
			</tr>
		</table>
		<div class="reference">
			<div class="reference_element">
				<div class="reference_color" style="background-color: #aaddff"></div><span class="reference_letter"> : Player of the Split</span>
			</div>
		</div>
	</section>
	
{% endblock %}
