@charset "UTP-8";

/* version */
#version {
	margin: 20px 0 30px 0; text-align: right;
}

/* ranking */
#ranking {
	margin: 0 50px 30px 0;
	width: 730px;
	float: left;
}

/* schedule */
#schedule {
	margin: 0 0 30px 0;
	float: left;
	width: 300px;
	overflow: hidden;
}

#schedule h2 {
	font-size: 30px; margin-bottom: 10px;
}

#schedule #schedules {
	position: relative;
	margin: 0 0 30px 0;
}

#schedule #schedules .schedule_block {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 10px gray;
}

#schedule #schedules .schedule_block .schedule_title {
	background: #1C192B;
	color: #DCDFE0;
	border-radius: 10px 10px 0 0;
}

#schedule #schedules .schedule_block .schedule_team {
	border: #1C192B solid 2px;
	overflow: hidden;
	min-height: 100px;
	border-radius: 0 0 10px 10px;
}

#schedule #schedules .schedule_block .schedule_team img {
	width: 60px;
}
#schedule #schedules .schedule_block .schedule_team1 {
	width: 40%;
	float: left;
}

#schedule #schedules .schedule_block .schedule_score {
	width: 20%;
	float: left;
}

#schedule #schedules .schedule_block .schedule_none {
	line-height: 100px;
}

#schedule #schedules .schedule_block .schedule_team2 {
	width: 40%;
	float: left;
}

#schedule  #schedules .controler {
	position: absolute;
	text-align: center;
	top: 20px;
	font-size: 28px;
	font-weight: bolder;
}

#schedule #schedules .controler_left {
	left: 10px;
}

#schedule #schedules .controler_right {
	right: 10px;
}
