@charset "UTP-8";

/* version */
#version {
	margin: 20px 0 30px 0; text-align: right;
}

/* champion */
#champion {
	width: 680px;
	float: left;
}

#champion h2 {
	font-size: 30px; margin-bottom: 10px;
}

/* schedule */
#schedule {
	margin: 0 0 30px 0;
	float: left;
	width: 400px;
}

#schedule h2 {
	font-size: 30px; margin-bottom: 10px;
}

#schedule #schedules {
	position: relative;
	margin: 0 0 30px 0;
}

#schedule #schedules .schedule_block {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 10px gray;
}

#schedule #schedules .schedule_block .schedule_title {
	background: #1C192B;
	color: #DCDFE0;
	border-radius: 10px 10px 0 0;
}

#schedule #schedules .schedule_block .schedule_team {
	border: #1C192B solid 2px;
	overflow: hidden;
	min-height: 100px;
	border-radius: 0 0 10px 10px;
}

#schedule #schedules .schedule_block .schedule_team img {
	width: 60px;
}
#schedule #schedules .schedule_block .schedule_team1 {
	width: 40%;
	float: left;
}
#schedule #schedules .schedule_block .schedule_score_block {
	float: left;
	width: 20%;
	margin-top: 20px;
	text-align: center;
}

#schedule #schedules .schedule_block .schedule_score {
	width: 100%;
	font-size: 24px;
}

#schedule #schedules .schedule_block .schedule_time {
	width: 100%;
	font-size: 14px;
	margin-top: 10px;
}

#schedule #schedules .schedule_block .schedule_none {
	line-height: 100px;
}

#schedule #schedules .schedule_block .schedule_team2 {
	width: 40%;
	float: left;
}

#schedule  #schedules .controler {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	border: 2px solid #1C192B;
	position: absolute;
	text-align: center;
	top: 70px;
	font-size: 22px;
	background-color: #F7F7F7;
}

#schedule  #schedules .controler::after {
	display: block;
	border-radius: 40px;
}

#schedule  #schedules .controler:hover::after {
	background-color: #1C192B;
	color: #F7F7F7;
}

#schedule #schedules .controler_left {
	left: 20px;
}

#schedule #schedules .controler_left::after {
	content:"<";
}

#schedule #schedules .controler_right {
	right: 20px;
}

#schedule #schedules .controler_right::after {
	content:">";
	display: block;
}


/* ranking */
#ranking {
	margin: 0 50px 30px 0;
	width: 100%;
	float: left;
}

#ranking h2 {
	font-size: 30px; margin-bottom: 10px;
}

#ranking #ranking_container {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 100px 200px 25px 25px 200px 25px 25px 200px 25px 25px 200px;
	grid-template-rows: repeat(26, 20px);
}
#ranking #ranking_container div {
	text-align: center;
}

#ranking #ranking_container .ranking_group {
	grid-row: span 13;
	line-height: 260px;
	font-size: larger;
}

#ranking #ranking_container .ranking_match {
	grid-row: span 4;
	border: solid 2px #1C192B;
	border-radius: 10px;
	box-shadow: 0px 0px 10px gray;
	
}

#ranking #ranking_container .bottom {
	border-bottom: solid 2px #1C192B;
}

#ranking #ranking_container .top {
	border-top: solid 2px #1C192B;
}

#ranking #ranking_container .bottom-right {
	border-bottom: solid 2px #1C192B;
	border-right: solid 2px #1C192B;
}

#ranking #ranking_container .right {
	border-right: solid 2px #1C192B;
}