

/* round16 */
#round16 {
	overflow: hidden;
	margin: 0 0 50px;
}
#round16 h2 {
	font-size: 30px;
}
#round16 #round16_table {
	overflow: hidden;
	padding: 20px 10px;
}
#round16 #round16_table .blanc {
	float: left;
	width: 5%;
	line-height: 186px;
}
#round16 #round16_table .blanc .blanc1 {
	width: 50%;
	float: left;
}
#round16 #round16_table .blanc .blanc1 div {
	width: 100%;
}
#round16 #round16_table .round16_round {
	float: left;
	width: 30%;
}
#round16 #round16_table .round16_round .round16_block {
	width: 100%;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}
#round16 #round16_table .round16_round .round16_block .round16_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 5px 0;
}
#round16 #round16_table .round16_round .round16_block .round16_team {
	display: flex;
}
#round16 #round16_table .round16_round .round16_block .round16_team .round16_team_name {
	flex-basis: 100px;
}
#round16 #round16_table .round16_round .round16_block .round16_team img {
	height: 60px;
}
#round16 #round16_table .round16_round .round16_block .win {
	border-left: #489CFF 5px solid;
}
#round16 #round16_table .round16_round .round16_block .lose {
	border-left: #BDBDBD 5px solid;
	background: #dddddd;
}
#round16 #round16_table .round16_round .round16_block .round16_team div {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
/* round8 */
#round8 {
	margin: 0 auto 50px;
}
#round8 #round8_table {
	padding: 20px 10px;
	overflow: hidden;
}
#round8 #round8_table .blanc {
	float: left;
	width: 5%;
	line-height: 186px;
}
#round8 #round8_table .blanc .blanc1 {
	width: 50%;
	float: left;
}
#round8 #round8_table .blanc .blanc1 div {
	width: 100%;
}
#round8 #round8_table .round8_round {
	width: 30%;
	float: left;
}
#round8 #round8_table .round8_round .round8_block {
	height: 196px;
	text-align: center;
	overflow: hidden;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}
#round8 #round8_table .round8_round .round8_block .round8_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 5px 0;
	height: 46px;
}
#round8 #round8_table .round8_round .round8_block .round8_team {
	display: flex;
}
#round8 #round8_table .round8_round .round8_block .win {
	border-left: #489CFF 5px solid;
}
#round8 #round8_table .round8_round .round8_block .lose {
	border-left: #BDBDBD 5px solid;
	background: #dddddd;
}
#round8 #round8_table .round8_round .round8_block .round8_team div {
	display: flex;
	flex-basis: 120px;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
#round8 #round8_table .round8_round .round8_block .round8_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 5px 0;
}
#round8 #round8_table .round8_round .round8_block .round8_team .round8_team_name {
	flex-basis: 100px;
}
#round8 #round8_table .round8_round .round8_block .round8_team img {
	height: 60px;
}
#round8 #round8_table .round8_round .round8_arrow {
	display: flex;
	flex-basis: 50px;
	justify-content: center;
	align-items: center;
}
