

/* round16 */
#round16 {
	margin: 0 auto 50px;
}

#round16 .round16_table {
	margin: 0 auto 20px;
	width: 98%;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}

#round16 .round16_table th {
	background: #1C192B;
	color: #DCDFE0;
}

#round16 .round16_table tr:nth-child(odd) {
	background: #e7e7e7;
}

#round16 .round16_table tr td img {
	display: block;
	margin: 0 auto;
	height: 60px;
}

/* round8 */
#round8 {
	margin: 0 auto 50px;
}
#round8 #round8_table {
	padding: 20px 10px;
	overflow: hidden;
}
#round8 #round8_table .blanc {
	float: left;
	width: 5%;
	line-height: 186px;
}
#round8 #round8_table .blanc .blanc1 {
	width: 50%;
	float: left;
}
#round8 #round8_table .blanc .blanc1 div {
	width: 100%;
}
#round8 #round8_table .round8_round {
	width: 30%;
	float: left;
}
#round8 #round8_table .round8_round .round8_block {
	height: 196px;
	text-align: center;
	overflow: hidden;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}
#round8 #round8_table .round8_round .round8_block .round8_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 5px 0;
	height: 46px;
}
#round8 #round8_table .round8_round .round8_block .round8_team {
	display: flex;
}
#round8 #round8_table .round8_round .round8_block .win {
	border-left: #489CFF 5px solid;
}
#round8 #round8_table .round8_round .round8_block .lose {
	border-left: #BDBDBD 5px solid;
	background: #dddddd;
}
#round8 #round8_table .round8_round .round8_block .round8_team div {
	display: flex;
	flex-basis: 120px;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
#round8 #round8_table .round8_round .round8_block .round8_index {
	background: #1C192B;
	color: #DCDFE0;
	text-align: center;
	padding: 5px 0;
}
#round8 #round8_table .round8_round .round8_block .round8_team .round8_team_name {
	flex-basis: 100px;
}
#round8 #round8_table .round8_round .round8_block .round8_team img {
	height: 60px;
}
#round8 #round8_table .round8_round .round8_arrow {
	display: flex;
	flex-basis: 50px;
	justify-content: center;
	align-items: center;
}


/* POG */
#POG {
	margin: 0 auto 50px;
}

#POG #POG_table {
	margin: 0 auto 20px;
	width: 80%;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 10px gray;
	border-radius: 10px;
}

#POG #POG_table th {
	background: #1C192B;
	color: #DCDFE0;
}

#POG #POG_table tr:nth-child(odd) {
	background: #e7e7e7;
}

#POG #POG_table tr td .POG_team_img {
	display: block;
	margin: 0 auto;
	height: 60px;
}

#POG #POG_table tr td .POG_position_img {
	display: block;
	margin: 0 auto;
	height: 30px;
}

#POG .reference {
	margin: 0 150px 0 0;
}